@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/smart-grid';
//@import 'libs';
@import 'utils/reset';
@import 'utils/_base';

@import 'libs';

// Typography
@import 'typography';

// Helpers
@import 'utils/helpers-classes';

// Modules
//@import "modules/_loader";
@import 'modules/_buttons';
@import 'modules/_hamburger';
@import 'modules/_fields';
@import 'modules/_checkbox-and-radio';

@import 'modules/_range-slider';
// Sections

.module-contacts {
   color: $black-color3;
   &__label {
      font-size: 0.8em;

      margin-bottom: rem(2);
   }
   &__value {
      font-size: 1em;
      font-weight: 700;

      color: inherit;
   }
}

.page-title {
   font-size: rem(46);
   font-weight: 800;

@include sm-block() {
      font-size: rem(46*0.7);
   }

   &:not(:last-child) {
      margin-bottom: rem(50);
   }
}

.block-title {
   font-size: rem(24);
   font-weight: 500;
   &:not(:last-child) {
      margin-bottom: rem(20);
   }
}

.block-shadow {
   padding: rem(30) rem(40);

   border-radius: rem(4);
   background: $white-color;
   box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.15);
}

.navigation-list {
   font-size: 14px;

   li {
      margin-bottom: rem(12);
      &:last-child {
         margin-bottom: 0;
      }
   }
   a {
      line-height: 1.3;

      position: relative;

      display: block;

      padding-left: rem(20);
      &:before {
         position: absolute;
         top: 50%;
         left: 0;

         display: block;

         width: 3px;
         height: 3px;

         content: '';

         background: $primary-color;
      }
   }
}

.cookie-alert {
   font-size: rem(18);

   position: fixed;
   z-index: 3;
   bottom: 0;
   left: 50%;

   display: flex;

   width: 100%;
   max-width: rem(1290);
   padding: rem(30) rem(70);

   transition: transform 0.3s ease,  opacity 0.3s ease;
   transform: translateX(-50%);

   color: $black-color2;
   background: $light-color;

@include sm-block() {
      padding: rem(20) rem(30);

      align-items: flex-start;
      flex-wrap: wrap;
   }  align-items: center;
   justify-content: space-between;

   &.is-hide {
      transform: translateX(-50%) translateY(100%);
      pointer-events: none;

      opacity: 0;
   }
   &__icon {
      margin-right: rem(30);

@include sm-block() {
         width: rem(40);
         margin-right: rem(20);
      }  flex-shrink: 0;
   }
   &__text {
      padding-right: rem(40);

@include sm-block() {
         width: calc(100% - #{rem(60)});
         padding: 0;
      }
   }
   &__btn {
      margin-left: auto;

@include sm-block() {
         width: 100%;
         margin: rem(20) 0 0 0;
      }
   }
}

.content-and-aside {
   padding-bottom: rem(120);

@include row-flex();

   &__content {
      @include col();

@include size(8);

@include size-lg(7.5);

@include size-md(12);
   }
   &__sidebar-sticky {
      position: sticky;
      top: rem(30);
   }
   &__sidebar {
      padding-left: rem(30);

@include md-block() {
         margin-top: rem(40);
         padding-left: 0;
      }

@include col();

@include size(4);

@include size-lg(4.5);

@include size-md(12);
   }
}

.not-found {
   padding-top: rem(30);
   padding-bottom: rem(120);

@include lg-block() {
      padding-top: 0;
   }

   &__row {
      display: flex;

@include sm-block() {
         flex-wrap: wrap;
      }  align-items: center;
      justify-content: space-between;
   }
   &__title {
      font-size: rem(70);
      font-weight: 900;

      max-width: rem(430);

@include xxl-block() {
         font-size: rem(70 * 0.85);
      }

@include lg-block() {
         font-size: rem(70 * 0.7);
      }

      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__content {
      padding-left: rem(60);

@include xxl-block() {
         padding-top: rem(60);
         padding-left: 0;
      }

@include sm-block() {
         padding-top: 0;
      }
   }
   &__media {
      width: 60%;
      padding-right: rem(60);
      padding-left: rem(60);

@include lg-block() {
         padding-right: 0;
      }

@include sm-block() {
         width: 100%;
         padding-left: 0;

         order: -1;
      }

      img {
         margin-bottom: rem(-120);

@include sm-block() {
            width: rem(430);
            margin-bottom: 0;
         }
      }
   }
   &__btn {
      width: 100%;
      max-width: rem(195);
   }
   &__text {
      font-size: rem(18);

      max-width: rem(430);

      color: $black-color3;
      &:not(:last-child) {
         margin-bottom: rem(50);
      }
   }
}

.page-navigation {
   display: flex;
   overflow-x: auto;
   overflow-y: hidden;

@include lg-block() {
      margin-right: -$fields;
      margin-left: -$fields;
      padding-left: $fields;
   }

@include sm-block() {
      margin-right: -$fields_sm;
      margin-left: -$fields_sm;
      padding-left: $fields_sm;
   }  align-items: center;
   scrollbar-width: none;

   &::-webkit-scrollbar {
      display: none;
   }
   li {
      margin: 0 rem(50) rem(15) 0;

@include md-block() {
         margin-right: rem(30);
      }

@include sm-block() {
         margin-right: rem(20);
      }
   }
   a {
      font-size: rem(16);
      font-weight: 700;
      line-height: 1;

      display: block;

      padding: rem(10) 0;

      white-space: nowrap;
      text-transform: uppercase;

      color: $black-color3;
      border-bottom: 2px solid transparent;
      &:hover {
         color: $black-color;
      }
   }
   .is-active {
      a {
         color: $primary-color;
         border-color: $primary-color;
      }
   }
}

.page-sorting {
   display: flex;

@include to(500px) {
      text-align: center;

      flex-wrap: wrap;
   }  align-items: center;

   &__label {
      margin: 0 rem(30) 0 0;

      color: #91939d;

@include to(500px) {
         width: 100%;
         margin-bottom: 5px;
      }
   }
   &__button {
      display: flex;

      margin: 0 rem(30) 0 0;

      cursor: pointer;
      user-select: none;

      color: $black-color;

      align-items: center;
      span {
         border-bottom: 1px dashed $gray-color;
      }
      svg {
         display: none;

         margin-left: rem(9);
         path {
            fill: $gray-color;
         }
      }
      input {
         display: none;
         &:checked +span {
            color: $primary-color;
            border-color: transparent;
            & +svg {
               display: block;
            }
         }

         &.sorting-asc {
            & +span +svg {
               path {
                  &:first-child {
                     fill: $primary-color;
                  }
               }
            }
         }
         &.sorting-desc {
            & +span +svg {
               path {
                  &:last-child {
                     fill: $primary-color;
                  }
               }
            }
         }
      }
   }
}

.item-options {
   @include u-row-flex(25px);
   li {
      min-width: 65px;
      margin-bottom: rem(15);

@include u-col(25px);

@include u-size(3,12,25px);
   }
   &__image {
      margin-bottom: rem(10);
      img {
         width: 100%;
      }
   }
   &__name {
      font-size: rem(12);
      line-height: 1.2;

      text-align: center;
   }
}

.catalog-row-item {
   position: relative;

   display: flex;
   overflow: hidden;

   padding: rem(20);

   border-radius: 4px;
   background: $light-color;

@include md-block() {
      flex-wrap: wrap;
   }

@include tags();

   align-items: flex-start;

   &__image {
      display: block;
      overflow: hidden;

      width: rem(264);
      margin-right: rem(60);

      border-radius: 4px;

@include md-block() {
         width: 160px;
         margin-right: 30px;
      }

@include sm-block() {
         width: 80px;
         margin-right: 15px;
      }  flex-shrink: 0;
   }
   &__title,
   &__title-mobile {
      font-size: rem(28);
      font-weight: 700;
      line-height: 1.15;

      display: block;

      color: $black-color;

@include sm-block() {
         font-size: rem(22);
      }

      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      &:hover {
         color: $primary-color;
      }
   }
   &__title {
      @include md-block() {
         display: none;
      }
   }
   &__title-mobile {
      @include from($break_md) {
         display: none;
      }
   }
   &__top {
      @include md-block {
         display: flex;

         margin-bottom: rem(20);

         align-items: center;
      }
   }
   &__show-more {
      font-weight: 700;

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      display: none;

      padding: rem(10) rem(20) rem(30);

      cursor: pointer;
      text-transform: uppercase;

      color: $primary-color;
      background: $light-color;

@include sm-block() {
         display: flex;
      }  align-items: center;

      &::before {
         position: absolute;
         right: 0;
         bottom: 100%;
         left: 0;

         height: 100%;

         content: '';
         pointer-events: none;

         background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, $light-color 100%);
      }
      &.is-show {
         &:before {
            display: none;
         }
         svg {
            transform: rotate(180deg);
         }
      }
      svg {
         width: rem(18);
         height: rem(18);
         margin-left: rem(12);

         flex-shrink: 0;
         fill: $primary-color;
      }
   }
   &__params {
      display: flex;

@include sm-block() {
         height: rem(200);
         &.is-show {
            height: auto;
            padding-bottom: rem(30);
         }
      }  flex-wrap: wrap;

      &-name {
         margin-bottom: rem(12);
      }
      &-value {
         font-size: rem(18);
         font-weight: 700;

         display: flex;

         align-items: center;
         & >span {
            &:not(:last-child) {
               margin-right: rem(8);
            }
         }
      }
      &-item {
         margin: 0 rem(60) rem(30) 0;

@include sm-block() {
            width: 100%;
            margin-right: 0;
            margin-bottom: rem(15);
            padding-bottom: rem(15);

            &:not(:last-child) {
               border-bottom: solid 1px #e3e3e3;
            }
         }

         svg {
            width: rem(24);
            height: rem(24);
            margin-right: rem(10);

            fill: $gray-color;
            flex-shrink: 0;
         }
      }
   }
   &__content {
      @include md-block() {
         width: 100%;
      }

@include from($break_md) {
         padding-top: rem(20);
      }
   }
}

.radio-cards {
   @include u-row-flex(20);
   &__item {
      font-size: 14px;

      cursor: pointer;
      text-align: center;

@include u-col(20px);

@include u-size(3,12,20px);

      img {
         width: 100%;

         border-radius: rem(10);
      }
      &-image {
         position: relative;

         display: block;
      }
      &-button {
         position: absolute;
         top: 10px;
         right: 10px;

         width: rem(26);
         height: rem(26);

         border: 1px solid $gray-color;
         border-radius: 50%;
         background: $white-color;
         &:after {
            position: absolute;
            top: 50%;
            left: 50%;

            display: none;

            width: rem(14);
            height: rem(14);

            content: '';
            transform: translate(-50%,-50%);

            border-radius: inherit;
            background: $primary-color;
         }
      }
      &-name {
         line-height: 1.2;

         display: block;

         margin-top: rem(15);
      }
      input {
         display: none;
         &:checked +span {
            .radio-cards__item-button {
               &:after {
                  display: block;
               }
            }
         }
      }
   }
}

.switch-buttons {
   display: flex;

   height: rem(64);
   padding: 0 rem(5);

   border-radius: rem(64);
   background: $light-color;

   align-items: center;
   &__button {
      text-align: center;

      flex-grow: 1;
      input {
         display: none;
         &:checked +span {
            color: $black-color;
            background: $white-color;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.2);
         }
      }
      span {
         font-size: 14px;
         font-weight: 500;

         display: flex;

         height: rem(54);

         cursor: pointer;
         transition: all 0.2s linear;

         color: #757781;
         border-radius: rem(54);

         justify-content: center;
         align-items: center;
         &:hover {
            color: $primary-color;
         }
      }
   }
}

.planning-item {
   $parent: &;

   display: block;
   &__image {
      position: relative;

      display: block;
      overflow: hidden;

      margin-bottom: rem(20);

      border: solid 1px $gray-color;
      border-radius: 4px;
      &:before {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;

         content: '';
         transition: all 0.3s ease;

         opacity: 0;
         background-color: rgba($black-color,0.4);
         background-image: svg-load('../icons/zoom.svg', fill=$white-color);
         background-repeat: no-repeat;
         background-position: center;
         background-size: rem(90);
      }
      img {
         width: 100%;
      }
   }
   &__name {
      font-size: rem(18);
      font-weight: 500;

      color: $black-color3;
   }
   &:hover {
      #{$parent}__image {
         &:before {
            opacity: 1;
         }
      }
   }
}

.planning {
   &__title {
      font-size: rem(20);
      font-weight: 700;

      margin-bottom: rem(25);
   }
   &__row {
      @include u-row-flex(15px);
   }
   &__col {
      @include u-col(15px);

@include u-size(6,12,15px);
   }
}

.plan {
   &__title {
      margin-bottom: rem(30);
   }
   &__btn {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &:not(:last-child) {
      margin-bottom: rem(100);
   }
   &__row {
      @include row-flex();
   }
   &__col {
      @include col();

@include size(4);
   }
}

.tour-3d {
   &__title {
      margin-bottom: rem(30);
   }
   &__inner {
      img {
         width: 100%;
      }
   }
}

.rating-module {
   font-size: rem(18);

   display: flex;

   align-items: center;
   &__value {
      font-weight: 500;

      display: flex;

      align-items: center;
   }
   .answer-icon {
      margin-left: rem(8);
   }
   &__icon {
      display: flex;

      margin-right: rem(10);

      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      svg {
         width: rem(24);
         height: rem(24);

         fill: $primary-color;
      }
   }
}

.contractors-item {
   padding: rem(20);
   padding-bottom: rem(40);

   border-radius: 4px;
   background: $light-color;

@include table();

   &__image {
      overflow: hidden;

      width: rem(130);
      height: rem(130);
      margin-right: rem(34);

      border-radius: 50%;

      flex-shrink: 0;
   }
   &__top {
      display: flex;

      align-items: center;
      &:not(:last-child) {
         margin-bottom: rem(50);
      }
   }
   &__title {
      font-size: rem(20);
      font-weight: 700;
      line-height: 1.2;
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }
}

.tab-catalog-description {
   $space: rem(180);
   &__content {
      font-size: rem(20);
   }
   &__row {
      @include u-row-flex($space);
   }
   &__col {
      @include u-col($space);

@include u-size(6,12,$space);

      &:last-child {
         padding-left: rem(60);
      }
   }
}

.tab-catalog-contractor {
   &__pagination {
      margin-top: rem(30);
   }
}

.contractors-slider {
   overflow: visible;
   &__next {
      left: 100%;

      transform: translateX(15px) translateY(-50%);
   }
   &__prev {
      right: 100%;

      transform: translateX(-15px) translateY(-50%);
      svg {
         transform: scale(-1,1);
      }
   }
   &__prev,
   &__next {
      position: absolute;
      z-index: 2;
      top: 50%;

      display: flex;

      width: rem(64);
      height: rem(64);

      cursor: pointer;

      border-radius: rem(10);
      background: $white-color;
      box-shadow: 0 10px 35px -10px rgba(18, 19, 17, 0.2);

      align-items: center;
      justify-content: center;
      &.swiper-button-disabled {
         opacity: 0;
      }
      svg {
         width: rem(16);
         height: rem(16);
      }
      &:hover {
         svg {
            fill: $primary-color;
         }
      }
   }
   &__slide {
      transition: opacity 0.3s ease;
      &:not(.swiper-slide-visible) {
         pointer-events: none;

         opacity: 0;
      }
   }
}

.catalog-details {
   $parent: &;

   padding-bottom: rem(60);

@include tags($light-color);

@include params(rem(25));

@include table();

   &__tags {
      &--inline {
         display: inline-flex;
      }
   }
   &__field {
      &-label {
         font-size: 16px;
         &:not(:last-child) {
            margin-bottom: rem(15);
         }
      }
      &-row {
         &:not(:last-child) {
            margin-bottom: rem(40);
         }
      }
   }
   &__page-top {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      left: 0;

      margin-top: 0 !important;
      padding-top: rem(30);
      .btn-circle {
         color: $white-color;
         &__icon {
            background: rgba(249, 249, 252, 0.2);

            backdrop-filter: blur(35px);
            svg {
               fill: $white-color;
            }
         }
         &:hover {
            svg {
               fill: $white-color;
            }
         }
      }
   }
   &__preview {
      position: relative;

      margin-top: rem(-51);

      color: $white-color;
      #{$parent}__params {
         justify-content: flex-end;
         &-item {
            width: rem(160);
         }
      }
      &-info {
         position: absolute;
         z-index: 2;
         right: 0;
         bottom: 0;
         left: 0;

         padding: rem(80) 0;
      }
      &-title {
         font-size: rem(46);
         line-height: 1.1;
         &:not(:last-child) {
            margin-bottom: rem(15);
         }
      }
      &-description {
         font-size: rem(28);
         font-weight: 500;
         line-height: 1.1;
         &:not(:last-child) {
            margin-bottom: rem(15);
         }
      }
      &-row {
         display: flex;

         align-items: flex-end;
         justify-content: space-between;
      }
      &-col {
         flex-grow: 1;
      }
      &:after {
         position: absolute;
         right: 0;
         bottom: 0;
         left: 0;

         height: 100%;

         content: '';

         background: linear-gradient(180deg, rgba(15, 18, 31, 0.4) 0.84%, rgba(21, 24, 41, 0) 24.6%), linear-gradient(180deg, rgba(21, 24, 41, 0) 47.83%, rgba(15, 18, 31, 0.8) 89.73%);
      }
      &:not(:last-child) {
         margin-bottom: rem(80);
      }
   }

   &__gallery {
      &.is-one-slide {
         .catalog-details__thrumbs,
         .catalog-details__gallery-next,
         .catalog-details__gallery-prev {
            display: none;
         }
      }
      .slide-large,
      .slide-small {
         position: relative;

         display: block;
         overflow: hidden;

         width: 100%;

         cursor: pointer;

         border-radius: 4px;
         &--video {
            &:before {
               position: absolute;
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;

               content: '';

               background-image: url('../icons/play-bold.svg');
               background-repeat: no-repeat;
               background-position: center;
               background-size: rem(100);
            }
         }
         img {
            width: 100%;
         }
      }
      .slide-large {
         &:before {
            background-color: rgba($black-color, 0.4);
         }
      }
      .slide-small {
         &:before {
            background-size: rem(40);
         }
      }

      &-large {
         position: relative;

         margin-bottom: 20px;
         .swiper-container {
            overflow: visible;
         }
      }
      &-next {
         left: 100%;

         transform: translateX(-50%) translateY(-50%);
      }
      &-prev {
         right: 100%;

         transform: translateX(50%) translateY(-50%);
         svg {
            transform: scale(-1,1);
         }
      }
      &-prev,
      &-next {
         position: absolute;
         z-index: 2;
         top: 50%;

         display: flex;

         width: rem(64);
         height: rem(64);

         cursor: pointer;

         border-radius: rem(10);
         background: $white-color;
         box-shadow: 0 10px 35px -10px rgba(18, 19, 17, 0.2);

         align-items: center;
         justify-content: center;
         svg {
            width: rem(16);
            height: rem(16);
         }
         &:hover {
            svg {
               fill: $primary-color;
            }
         }
      }
   }
   &__thrumbs {
      .swiper-slide {
         &:not(.swiper-slide-active) {
            transition: opacity 0.2s ease;

            opacity: 0.5;
            &:hover {
               opacity: 0.6;
            }
         }
      }
   }
   &__params {
      font-size: rem(16);

@include u-row-flex(0);

      &-item {
         width: rem(200);
         margin: 0 rem(10) rem(45) 0;
         &:nth-child(3n) {
            margin-right: 0;
         }
      }
      &-value {
         font-size: rem(16);
      }
   }
   &__row-contacts {
      font-size: rem(28);
      font-weight: 700;

      display: flex;

      padding: rem(40) 0;

      align-items: center;
      justify-content: space-between;
      &:last-child {
         padding-bottom: 0;
      }
      &-link {
         &:hover {
            color: $primary-color;
         }
      }
      &-phone {
         color: $black-color;
      }
   }
   &__hr {
      border-top: 1px solid $gray-color;
   }
   &__row-price {
      display: flex;

      padding: rem(40) 0;

      align-items: center;
      justify-content: space-between;
      &:last-child {
         padding-bottom: 0;
      }
      &-value {
         font-size: rem(28);
         font-weight: 700;

         margin-right: rem(20);
      }
      &-btn {
         font-size: 16px;
      }
   }
   &__description {
      font-size: rem(20);
   }
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(25);
      }
      &--inline {
         display: inline-block;

         margin-right: rem(20);
      }
   }
   &__table-list {
      margin-bottom: 0;

      &:not(:last-child) {
         padding-bottom: rem(40);
      }
      a {
         color: $accent-color;
      }
   }
   &__row {
      @include row-flex();
      &:not(:last-child) {
         margin-bottom: rem(80);
      }
   }
   &__tabs {
      &-navigation {
         position: relative;
         &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 1px;

            content: '';

            background: $gray-color;
         }
         li {
            position: relative;
            z-index: 2;

            margin-bottom: 0;
         }
      }
      &-content {
         padding: rem(50) 0;
      }
   }
   &__col {
      @include col();

@include from($break_xl) {
         &:nth-child(even) {
            padding-left: rem(120);
         }
      }

      &:first-child {
         @include size(6.1);

@include size-md(12);
      }
      &:last-child {
         @include size(5.9);

@include size-md(12);
      }
   }
}

.block-link {
   font-weight: 700;

   display: flex;

   min-height: 100px;
   padding: rem(20) rem(40);

   border-radius: 10px;
   background: rgba(192, 34, 53, 0.05);

   align-items: center;
   justify-content: space-between;
   &__name {
      line-height: 1.3;

      display: block;

      max-width: calc(100% - 250px);

      color: $black-color;
   }
   &__link {
      display: flex;

      align-items: center;
      svg {
         width: rem(12);
         height: rem(12);
         margin-left: rem(12);

         flex-shrink: 0;
         fill: $primary-color;
      }
   }
}

.swiper-container {
   transition: opacity 0.1s linear;

   opacity: 0;
}

.is-loaded {
   .swiper-container {
      opacity: 1;
   }
}

.our-houses-item {
   &__description {
      font-size: rem(20);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__name {
      font-size: rem(20);
      font-weight: 700;
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__image {
      display: block;
      overflow: hidden;

      margin-bottom: rem(30);

      border-radius: 4px;
      img {
         width: 100%;
      }
   }
}

.our-houses {
   padding-bottom: rem(70);
   &__title {
      margin-bottom: rem(50);
   }
   &__row {
      margin-bottom: rem(-50);

@include row-flex();
   }
   &__col {
      margin-bottom: rem(50);

@include col();

@include size(4);

@include size-lg(6);

@include size-md(12);
   }
}

.answer-icon {
   display: inline-flex;

   cursor: pointer;
   vertical-align: top;

   align-items: center;
   justify-content: center;
   svg {
      width: rem(15);
      height: rem(15);
      margin: 0;

      fill: $gray-color;
   }
   &:hover {
      svg {
         fill: $primary-color;
      }
   }
}

.catalog-item {
   $parent: &;

   position: relative;

@include from($break_lg) {
      &:hover {
         z-index: 3;

         background: $white-color;
         box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.12);
         #{$parent}__inner {
            // transition: all 0.1s ease-in;
            background: $white-color;
         }
         #{$parent}__hidden {
            // transition: all 0.1s ease-in;
            pointer-events: all;

            opacity: 1;
            box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.12);
         }
      }
   }

@include table();

   &__table {
      &-list {
         &:not(:last-child) {
            margin-bottom: rem(50);
         }
      }
   }

   &__tags {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;

      display: flex;

      max-width: 78%;
      padding: rem(15);

      flex-wrap: wrap;
   }
   &__tag {
      font-size: rem(14);
      line-height: 1.1;

      display: flex;

      height: rem(35);
      margin: 0 rem(10) rem(10) 0;
      padding: 0 rem(12);

      border-radius: rem(35);
      border-radius: rem(35);
      background: $white-color;

      align-items: center;
      svg {
         width: rem(16);
         height: rem(16);
         margin-right: rem(10);

         fill: $primary-color;
         flex-shrink: 0;
      }
   }
   &__status {
      font-size: rem(14);
      line-height: rem(35);

      position: absolute;
      z-index: 3;
      top: rem(15);
      right: rem(15);

      display: inline-block;
      overflow: hidden;

      max-width: 32%;
      padding: 0 rem(12);

      white-space: nowrap;
      text-overflow: ellipsis;

      color: $white-color;
      border-radius: rem(35);
      border-radius: rem(35);
      background: $black-color3;
   }
   &__slider-pagination {
      position: absolute;
      right: rem(15) !important;
      bottom: rem(15) !important;
      left: rem(15) !important;

      display: flex;

      width: initial !important;

@include lg-block() {
         display: none;
      }

      .swiper-pagination-bullet {
         width: initial;
         height: 3px !important;

         opacity: 1;
         border-radius: 0;
         background: $white-color;

         flex-grow: 1;
         &.swiper-pagination-bullet-active {
            background: $primary-color;
         }
      }
   }
   &__slider {
      margin-bottom: rem(30);
   }
   &__title {
      font-size: rem(18);
      font-weight: 500;

      display: inline-block;

      margin-bottom: rem(15);

      color: $black-color;
      &:hover {
         color: $primary-color;
      }
   }
   &__hidden {
      position: absolute;
      top: 100%;
      right: -1px;
      left: -1px;

      padding: rem(20);
      padding-bottom: rem(30);

      pointer-events: none;

      opacity: 0;
      background: $white-color;

@include lg-block() {
         padding: 0;
      }

      // &:before {
      //    position: absolute;
      //    top: 0;
      //    right: rem(20);
      //    left: rem(20);

      //    display: block;

      //    height: 1px;

      //    content: '';

      //    background: rgba($black-color3, 0.2);
      // }

      #{$parent}__price {
         &:not(:last-child) {
            margin-bottom: rem(15);
            padding-bottom: rem(15);

            border-bottom: 1px solid rgba($black-color3, 0.2);
         }
      }
   }
   &__inner {
      position: relative;
      z-index: 2;

      padding: rem(20);

@include lg-block() {
         padding: 0;
      }
   }
   &__subtitle {
      font-size: rem(18);
      font-weight: 700;

      margin-bottom: rem(15);
   }
   &__description {
      font-size: rem(14);

      color: $black-color3;
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__image {
      display: block;

      img {
         width: 100%;
      }
   }
   &__price {
      font-size: rem(22);
      font-weight: 700;
      &-subtitle {
         color: $black-color3;
      }
   }
   &__params {
      display: flex;

      flex-wrap: wrap;
      &-item {
         display: flex;

         margin: 0 rem(30) rem(10) 0;

         align-items: center;
      }
      &-icon {
         display: flex;

         margin-right: rem(12);

         align-items: center;
         justify-content: center;
         flex-shrink: 0;
         svg {
            width: rem(15);
            height: rem(15);

            fill: $gray-color;
         }
      }
   }
}

.catalog {
   padding-bottom: rem(50);
   .pagination {
      margin-top: rem(30);
   }
   &__row {
      @include u-row-flex(40px);

@include lg-block() {
         @include u-row-flex(20px);
      }

      &--spacing-none {
         @include u-row-flex(0px);
      }
   }
   &__col {
      margin-bottom: rem(30);

@include u-col(0px);

@include u-size(4,12,0px);

@include lg-block() {
         @include u-col(20px);
         @include u-size(4,12,20px);
      }

@include md-block() {
         @include u-size(6,12,20px);
      }

@include to(500px) {
         @include u-size(12,12,20px);
      }

      &.col-12 {
         @include u-size(12,12,0px);
      }
   }
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(44);

@include sm-block() {
            margin-bottom: rem(30);
         }
      }
   }
   &__navigation {
      &:not(:last-child) {
         margin-bottom: rem(25);

@include sm-block() {
            margin-bottom: rem(5);
         }
      }
   }
   &__filter {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
}

.filter-links {
   display: flex;

   align-items: center;
   &__link {
      display: flex;

      margin: 0 rem(30) 0 0;

      cursor: pointer;

      color: $black-color3;

      align-items: center;
      &:last-child {
         margin-right: 0;
      }
      span {
         border-bottom: 1px dashed $gray-color;
      }
      &:hover {
         color: $black-color;
         svg {
            fill: $black-color;
         }
      }
      &.is-active {
         color: $primary-color;
         span {
            border-color: transparent;
         }
         svg {
            fill: $primary-color;
         }
      }
      svg {
         width: rem(20);
         height: rem(20);
         margin-right: rem(12);

         fill: $black-color3;
         flex-shrink: 0;
      }
   }
}

.page-filter {
   $btn-size: rem(40);
   [data-filter-item-name] {
      display: none;
   }

   &__mobile-curtain {
      position: fixed;
      z-index: 8;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: none;

      background: $white-color;
      .range-slider {
         margin-top: 30px;
         margin-bottom: 30px;
      }

      &.is-show {
         @include lg-block() {
            display: block;
         }
      }
      .filter-search {
         margin-top: rem(30);
      }
      &-top {
         display: flex;

         height: 60px;
         padding: 0 rem(30);
         padding-right: rem(10);

         border-bottom: 1px solid $gray-color;

         flex-shrink: 0;
         align-items: center;
         justify-content: space-between;
      }
      &-title {
         font-size: 18px;
         font-weight: 700;

         width: 100%;
         max-width: calc(100% - 50px);
         margin-right: 20px;
         span {
            display: inline-block;
            overflow: hidden;

            max-width: calc(100% - 25px);

            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;
         }
         &.is-back {
            &:before {
               display: inline-block;

               width: 12px;
               height: 12px;
               margin-right: rem(12);

               content: '';
               transform: scale(-1,-1);
               vertical-align: middle;

               background: svg-load('../icons/arrow-right.svg', fill=$black-color3);
               background-repeat: no-repeat;
               background-position: center;
               background-size: contain;
            }
         }
      }
      &-list,
      &-content {
         padding: 0 rem(30);

         flex-grow: 1;
      }
      &-content {
         display: flex;
         overflow-y: auto;
         flex-direction: column;
      }
      &-filter {
         display: none;
         flex-direction: column;

         &.is-show {
            display: flex;
         }
      }
      &-item {
         font-size: 16px;
         font-weight: 500;

         position: relative;

         display: flex;

         padding: rem(20) 0;
         padding-right: rem(60);

         cursor: pointer;

         align-items: center;

         &:not(:last-child) {
            border-bottom: 1px solid $gray-color;
         }
         &:after {
            position: absolute;
            top: 50%;
            right: rem(5);

            width: 9px;
            height: 9px;

            content: '';
            transform: translateY(-50%);

            background: svg-load('../icons/arrow-right.svg', fill=$black-color3);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
         }
      }
      &-close {
         display: flex;

         width: rem(60);
         height: rem(60);

         cursor: pointer;

         align-items: center;
         justify-content: center;
         svg {
            width: rem(16);
            height: rem(16);

            fill: #54555a;
         }
      }
      &-layer {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;

         display: flex;
         flex-direction: column;

         height: 100vh;

         background: $white-color;
         &.js-page-filter-podmenu {
            z-index: 2;

            display: none;
            &.is-show {
               display: flex;
            }
         }
      }
      &-footer {
         display: flex;

         margin-top: auto;
         padding: rem(15) rem(30);

         background: $white-color;
         box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.12);

         align-items: center;
         justify-content: space-between;
      }
      &-btn {
         font-size: 16px;
         &.btn-reset {
            font-size: 14px;

            padding-right: 0;
            padding-left: 0;

            color: $black-color3;
            background: transparent;
            svg {
               width: rem(12);
               height: rem(12);

               fill: $black-color3;
            }
         }
      }
   }
   &__label {
      flex-grow: 1;
   }
   &__count {
      font-size: 14px;

      color: rgba($black-color3, 0.6);
   }
   &__list {
      &-row {
         display: flex;

         width: 100%;

         align-items: center;
         justify-content: space-between;
      }
      &-item {
         display: flex;

         padding: rem(20) 0;

         justify-content: space-between;
         &:not(:last-child) {
            border-bottom: 1px solid $gray-color;
         }
      }
   }

   &__reset-link {
      display: inline-flex;

      height: $btn-size;

      cursor: pointer;

      color: $black-color3;

      align-items: center;
      span {
         border-bottom: 1px dashed $gray-color;
      }
      svg {
         width: rem(12);
         height: rem(12);
         margin-right: rem(12);

         fill: $black-color3;
         flex-shrink: 0;
      }
      &:hover {
         color: $primary-color;
         svg {
            fill: $primary-color;
         }
      }
   }
   &__mobile {
      display: none;

      height: 60px;
      margin-bottom: rem(20);

      border: solid 1px $gray-color;
      border-radius: 4px;

@include lg-block() {
         display: flex;
      }

      &-btn {
         font-size: 16px;
         font-weight: 700;

         display: flex;

         cursor: pointer;

@include xs-block() {
            font-size: 14px;
         }

@include from($break_lg) {
            &:hover {
               color: $primary-color;
               svg {
                  fill: $primary-color;
               }
            }
         } flex-grow: 1;
         justify-content: center;
         align-items: center;

         &:first-child {
            position: relative;
            &:after {
               position: absolute;
               top: rem(10);
               bottom: rem(10);
               left: 100%;

               display: block;

               width: 1px;

               content: '';

               background: $gray-color;
            }
         }
         svg {
            width: rem(24);
            height: rem(24);
            margin-right: rem(12);

            fill: $black-color;
            flex-shrink: 0;
         }
      }
   }
   &__sorting {
      @include lg-block() {
         display: none;

         width: 100%;

         justify-content: center;
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
         &.is-show {
            display: flex;
         }
      }
   }
   &__footer-row {
      display: flex;

@include lg-block() {
         justify-content: center;
         flex-wrap: wrap;
      }  justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__row {
      display: flex;

      margin-bottom: rem(20);

@include lg-block() {
         display: none;
      }  flex-wrap: wrap;
   }
   &__item {
      margin: 0 rem(20) rem(20) 0;
   }
   // select 2
   .select2-container {
      width: initial !important;
   }
   .select2-search--dropdown {
      position: relative;

      margin-top: rem(15);
      margin-bottom: rem(5);
      padding: 0 rem(15);
      &:after {
         position: absolute;
         top: 50%;
         right: rem(35);

         width: rem(20);
         height: rem(20);

         content: '';
         transform: translateY(-50%);

         background: svg-load('../icons/search.svg', fill=$black-color3);
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
      }
   }
   .select2-dropdown {
      min-width: rem(300);
      margin-top: rem(10);

      border: none;
      border-radius: 4px;
      box-shadow: 0 14px 45px rgba(18, 19, 17, 0.06);
   }

   .select2-search__field {
      font-family: $main-font;
      font-size: rem(16);

      height: rem(40);
      padding-right: rem(50);
      padding-left: rem(30);

      border: 1px solid $gray-color;
      border-radius: 4px;
      background: $light-color;
   }
   .select2-container--default .select2-results >.select2-results__options {
      &::-webkit-scrollbar {
         width: 2px;
      }

      &::-webkit-scrollbar-track {
         background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
         box-shadow: inset 0 0 6px $gray-color;
      }
   }
   .select2-container .select2-selection--single {
      height: $btn-size;

      border: 1px solid $gray-color;
      border-radius: rem(4);
   }

   .select2-container--default .select2-selection--single .select2-selection__arrow {
      width: $btn-size;
      height: $btn-size;
      &:before {
         position: absolute;
         top: 50%;
         left: 50%;

         display: block;

         width: 13px;
         height: 13px;

         content: '';
         transform: translate(-50%,-50%);

         background: svg-load('../icons/arrow-bottom.svg', fill=$black-color);
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
      }
      b {
         display: none;
      }
   }
   .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: $btn-size;

      padding-right: $btn-size;
      padding-left: rem(15);

      color: rgba( $black-color3,0.7);
   }
   // end select 2
}

.filter-search {
   position: relative;

   margin-bottom: rem(10);
   input {
      font-family: $main-font;
      font-size: rem(16);

      width: 100%;
      height: 40px;
      padding-right: rem(50);
      padding-left: rem(30);

      border: 1px solid $gray-color;
      border-radius: 4px;
      background: $light-color;
   }
   svg {
      position: absolute;
      top: 50%;
      right: rem(25);

      width: rem(20);
      height: rem(20);

      transform: translateY(-50%);

      fill: $black-color;
   }
}

.notification-module {
   line-height: 1.3;

   display: flex;

   padding: rem(30) rem(50);

   border-radius: 10px;
   background: rgba(192, 34, 53, 0.05);

   align-items: center;
   svg {
      width: rem(40);
      height: rem(40);
      margin-right: rem(40);

      opacity: 0.5;

      fill: $primary-color;
      flex-shrink: 0;
   }
   &__content {
      font-size: rem(18);
      font-weight: 700;

      max-width: 400px;
      padding-right: rem(30);
   }
   &__text-right {
      max-width: 500px;
      margin-left: auto;

      text-align: right;

      color: $black-color3;
   }
}

.dropdown-module {
   $parent: &;

   position: relative;
   .range-slider {
      margin-bottom: rem(30);
   }
   .range-slider-wrapper {
      padding-top: rem(25);
   }

   &__hidden {
      position: absolute;
      z-index: 4;
      top: 100%;
      left: 0;

      display: none;

      width: rem(300);
      margin-top: rem(10);
      padding: rem(15);

      border-radius: 4px;
      background: $white-color;
      box-shadow: 0 14px 45px rgba(18, 19, 17, 0.06);
      &--medium {
         width: rem(400);
      }
      &--large {
         width: rem(490);
      }
   }
   &__label {
      width: 100%;

      cursor: pointer;
      user-select: none;
   }
   &__list {
      overflow-y: auto;

      max-height: 220px;
      padding: rem(5);
      &::-webkit-scrollbar {
         width: 2px;
      }

      &::-webkit-scrollbar-track {
         background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
         box-shadow: inset 0 0 6px $gray-color;
      }
      &-item {
         &:not(:last-child) {
            margin-bottom: rem(20);
         }
      }
      &-row {
         display: flex;

         flex-grow: 1;
         align-items: center;
         justify-content: space-between;
      }
   }
   &__count {
      font-size: rem(14);

      opacity: 0.6;
      color: $black-color3;
   }
   &__button {
      position: relative;

      display: flex;

      height: 40px;
      padding: 0 rem(50) 0 rem(15);

      cursor: pointer;
      user-select: none;

      color: rgba($black-color, 0.7);
      border: 1px solid $gray-color;
      border-radius: 4px;
      background: $white-color;

      align-items: center;
      &:hover {
         color: rgba($black-color,1);
         box-shadow: 0 14px 45px rgba(18, 19, 17, 0.06);
      }
      &:after {
         position: absolute;
         top: 50%;
         right: 9px;

         display: block;

         width: 13px;
         height: 13px;

         content: '';
         transform: translate(-50%,-50%);

         background: svg-load('../icons/arrow-bottom.svg', fill=$black-color);
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
      }
   }
   &.is-open {
      #{$parent}__button {
         &:after {
            transform: translate(-50%,-50%) rotate(-180deg);
         }
      }
      #{$parent}__hidden {
         display: block;
      }
   }
}

.pagination-more {
   display: flex;

   padding: rem(20) 0;

   justify-content: center;
   align-items: center;
   &__btn {
      @include sm-block() {
         width: 100%;
      }
   }
}

.pagination {
   display: flex;

@include sm-block() {
      --size: 40px;
   }  --size: 64px;
   align-items: center;
   justify-content: center;

   &__btn {
      font-size: rem(18);
      font-size: rem(14);
      font-weight: 400;

      display: inline-flex;

      height: var(--size);
      padding: 0 rem(35);

      color: $black-color;
      border-radius: rem(4);
      background: $light-color;

@include md-block() {
         width: var(--size);
         padding: 0;
      }

@include from($break_md) {
         &:last-child {
            margin-left: rem(40);
         }
         &:first-child {
            margin-right: rem(40);
         }
         &:hover {
            color: $primary-color;
            svg {
               fill: $primary-color;
            }
         }
      }  align-items: center;
      justify-content: center;

      svg {
         width: 6px;
         height: 12px;

@include from($break_md) {
            &:first-child {
               margin-right: rem(10);
            }
            &:last-child {
               margin-left: rem(10);
            }
         }  fill: $black-color;
         flex-shrink: 0;
      }
      span {
         @include md-block() {
            display: none;
         }
      }
      &:first-child {
         svg {
            transform: scale(-1,1);
         }
      }
   }
   &__list {
      display: flex;

      align-items: center;
      li {
         margin: 0 rem(10);

@include sm-block() {
            margin: 0 rem(5);
         }
      }
      a {
         font-size: rem(18);
         font-weight: 700;

         display: flex;

         width: var(--size);
         height: var(--size);

         color: $black-color;
         border-radius: rem(4);
         background: $light-color;

         align-items: center;
         justify-content: center;
         &:hover {
            color: $primary-color;
         }
         &.is-active {
            color: $white-color;
            background: $primary-color;
         }
      }
   }
}

.know {
   $bg: #3b3e41;

   padding: rem(100) 0;

   color: $white-color;
   background: url('../images/know/light.svg') top left/contain no-repeat, url('../images/know/cross.svg') top right no-repeat $bg;

@include lg-block() {
      background: url('../images/know/light.svg') top left/cover no-repeat, $bg url('../images/know/cross.svg') bottom -230px center/600px repeat-x;
   }

@include sm-block() {
      padding: rem(50) 0;

      background: url('../images/know/light.svg') top left/cover no-repeat, $bg url('../images/know/cross.svg') bottom -150px center/430px repeat-x;
   }

   &__light-svg {
      overflow: visible;
   }
   &__row {
      display: flex;

@include lg-block() {
         flex-wrap: wrap;
      }  align-items: center;
   }
   &__col {
      width: 50%;

@include lg-block() {
         width: 100%;
         &:not(:last-child) {
            margin-bottom: rem(50);
         }
      }

@include sm-block() {
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
      }
   }
   &__description {
      max-width: rem(515);

      color: rgba($white-color, 0.8);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__block {
      padding: rem(30) rem(20);

      border-radius: rem(4);
      background: $black-color;

@include from($break_sm) {
         padding: rem(40);
      }

@include from($break_lg) {
         margin-left: rem(25);
         padding: rem(50);
      }

      &-row {
         @include row-flex();
      }
      &-col {
         margin-bottom: rem(30);

@include sm-block() {
            margin-bottom: 15px;
         }

@include col();

         &.col-12 {
            @include size(12);
         }
         &.col-6 {
            @include size(6);

@include size-sm(12);
         }
      }
      &-footer {
         display: flex;

@include sm-block() {
            flex-wrap: wrap;
         }  align-items: center;

         &-content {
            font-size: rem(14);
            a {
               color: #4ba5f9;
               &:hover {
                  text-decoration: underline;
               }
            }
         }
         &-btn {
            width: 100%;
            margin-bottom: rem(15);

@include from($break_sm) {
               max-width: rem(185);
               margin-right: rem(40);
               margin-bottom: 0;
            }
         }
      }
   }
   &__title {
      font-size: rem(46);
      font-weight: 800;

      max-width: rem(550);

@include sm-block() {
         font-size: rem(28);
         font-weight: 700;
         line-height: 1.35;
      }

      &:not(:last-child) {
         margin-bottom: rem(40);

@include sm-block() {
            margin-bottom: rem(15);
         }
      }
   }
}

.calculate {
   overflow: hidden;

   color: $black-color;
   background: $light-color;

@include lg-block() {
      padding-bottom: rem(60);
   }

   &__btn {
      font-size: 16px;

      width: 100%;
      height: 60px;

@include from($break_sm) {
         max-width: rem(290);
      }
   }
   &__description {
      font-size: 16px;

      max-width: rem(515);

      color: $black-color2;

@include xs-block() {
         font-size: 14px;
      }

      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   &__media {
      background: url('../images/calculate/cross.svg') top right -33%/55% no-repeat;

@include lg-block() {
         display: flex;

         margin-top: rem(-120);
         margin-right: -$fields;

         justify-content: flex-end;
      }

@include sm-block() {
         margin-top: 0;

         background: url('../images/calculate/cross.svg') top right -33%/63% no-repeat;

         justify-content: flex-start;
      }

      img {
         width: 119.5%;
         max-width: initial;
         margin: 0 0 0 -3%;

@include lg-block() {
            width: 100%;
            margin: 0 -12% 0 0;
         }

@include sm-block() {
            width: 129.5%;
            margin: 0 0 0 -12%;
         }
      }
   }
   &__row {
      display: flex;

@include lg-block() {
         flex-wrap: wrap;
      }  align-items: center;
   }
   &__content {
      width: 50%;
      padding-top: rem(80);
      padding-bottom: rem(80);

@include lg-block() {
         width: 100%;
         margin-bottom: rem(40);
         padding-top: 50px;
         padding-bottom: rem(10);
      }
   }
   &__title {
      font-size: rem(46);
      font-weight: 800;

      max-width: 600px;

@include sm-block() {
         font-size: 28px;
      }

      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }
}

.filter-range {
   &__fields {
      display: flex;
      input {
         padding-left: 0;
      }
      .field {
         margin-bottom: rem(20);
      }
   }
   &__reset-btn {
      font-size: 14px;

      display: flex;

      height: rem(42);

      cursor: pointer;

      color: $black-color;
      border-radius: 4px;
      background: $light-color;

      justify-content: center;
      align-items: center;
      &:hover {
         color: $primary-color;
         svg {
            fill: $primary-color;
         }
      }
      svg {
         width: rem(12);
         height: rem(12);
         margin-right: rem(16);

         fill: $black-color;
         flex-shrink: 0;
      }
   }
}


.map-location {
   padding-top: rem(50);
   &__title {
      margin-bottom: rem(30);
   }
   &__map {
      height: 800px;
      min-height: rem(450);

      background: $gray-color;
   }
}

.page-top {
   margin-top: rem(-20);
   margin-bottom: rem(30);
   &__row {
      display: flex;

      align-items: center;
      justify-content: space-between;
   }
}

@import 'sections/_header';
@import 'sections/_footer';

// Layout
//@import 'modals';

// Layout
@import 'layouts/_main-layout';
