@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/smart-grid';
//@import 'libs';
@import 'utils/reset';
@import 'utils/_base';

@import 'libs';

// Typography
@import 'typography';

// Helpers
@import 'utils/helpers-classes';

// Modules
//@import "modules/_loader";
@import 'modules/_buttons';
@import 'modules/_hamburger';
@import 'modules/_fields';
//@import 'modules/_checkbox-and-radio';

.module-contacts {
   color: $black-color3;
   &__label {
      font-size: 0.8em;

      margin-bottom: rem(2);
   }
   &__value {
      font-size: 1em;
      font-weight: 700;

      color: inherit;
   }
}

.page-title {
   font-size: rem(46);
   font-weight: 800;

@include sm-block() {
      font-size: rem(46*0.7);
   }

   &:not(:last-child) {
      margin-bottom: rem(50);
   }
}

.block-title {
   font-size: rem(24);
   font-weight: 500;
   &:not(:last-child) {
      margin-bottom: rem(20);
   }
}

.block-shadow {
   padding: rem(30) rem(40);

   border-radius: rem(4);
   background: $white-color;
   box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.15);
}

.navigation-list {
   font-size: 14px;

   li {
      margin-bottom: rem(12);
      &:last-child {
         margin-bottom: 0;
      }
   }
   a {
      line-height: 1.3;

      position: relative;

      display: block;

      padding-left: rem(20);
      &:before {
         position: absolute;
         top: 50%;
         left: 0;

         display: block;

         width: 3px;
         height: 3px;

         content: '';

         background: $primary-color;
      }
   }
}

.cookie-alert {
   font-size: rem(18);

   position: fixed;
   z-index: 3;
   bottom: 0;
   left: 50%;

   display: flex;

   width: 100%;
   max-width: rem(1290);
   padding: rem(30) rem(70);

   transition: transform 0.3s ease,  opacity 0.3s ease;
   transform: translateX(-50%);

   color: $black-color2;
   background: $light-color;

@include sm-block() {
      padding: rem(20) rem(30);

      align-items: flex-start;
      flex-wrap: wrap;
   }  align-items: center;
   justify-content: space-between;

   &.is-hide {
      transform: translateX(-50%) translateY(100%);
      pointer-events: none;

      opacity: 0;
   }
   &__icon {
      margin-right: rem(30);

@include sm-block() {
         width: rem(40);
         margin-right: rem(20);
      }  flex-shrink: 0;
   }
   &__text {
      padding-right: rem(40);

@include sm-block() {
         width: calc(100% - #{rem(60)});
         padding: 0;
      }
   }
   &__btn {
      margin-left: auto;

@include sm-block() {
         width: 100%;
         margin: rem(20) 0 0 0;
      }
   }
}

.content-and-aside {
   padding-bottom: rem(120);

@include row-flex();

   &__content {
      @include col();

@include size(8);

@include size-lg(7.5);

@include size-md(12);
   }
   &__sidebar-sticky {
      position: sticky;
      top: rem(30);
   }
   &__sidebar {
      padding-left: rem(30);

@include md-block() {
         margin-top: rem(40);
         padding-left: 0;
      }

@include col();

@include size(4);

@include size-lg(4.5);

@include size-md(12);
   }
}

.not-found {
   padding-top: rem(30);
   padding-bottom: rem(120);

@include lg-block() {
      padding-top: 0;
   }

   &__row {
      display: flex;

@include sm-block() {
         flex-wrap: wrap;
      }  align-items: center;
      justify-content: space-between;
   }
   &__title {
      font-size: rem(70);
      font-weight: 900;

      max-width: rem(430);

@include xxl-block() {
         font-size: rem(70 * 0.85);
      }

@include lg-block() {
         font-size: rem(70 * 0.7);
      }

      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__content {
      padding-left: rem(60);

@include xxl-block() {
         padding-top: rem(60);
         padding-left: 0;
      }

@include sm-block() {
         padding-top: 0;
      }
   }
   &__media {
      width: 60%;
      padding-right: rem(60);
      padding-left: rem(60);

@include lg-block() {
         padding-right: 0;
      }

@include sm-block() {
         width: 100%;
         padding-left: 0;

         order: -1;
      }

      img {
         margin-bottom: rem(-120);

@include sm-block() {
            width: rem(430);
            margin-bottom: 0;
         }
      }
   }
   &__btn {
      width: 100%;
      max-width: rem(195);
   }
   &__text {
      font-size: rem(18);

      max-width: rem(430);

      color: $black-color3;
      &:not(:last-child) {
         margin-bottom: rem(50);
      }
   }
}

.page-navigation {
   display: flex;
   overflow-x: auto;
   overflow-y: hidden;

@include lg-block() {
      margin-right: -$fields;
      margin-left: -$fields;
      padding-left: $fields;
   }

@include sm-block() {
      margin-right: -$fields_sm;
      margin-left: -$fields_sm;
      padding-left: $fields_sm;
   }  align-items: center;
   scrollbar-width: none;

   &::-webkit-scrollbar {
      display: none;
   }
   li {
      margin: 0 rem(50) rem(15) 0;

@include md-block() {
         margin-right: rem(30);
      }

@include sm-block() {
         margin-right: rem(20);
      }
   }
   a {
      font-size: rem(16);
      font-weight: 700;
      line-height: 1;

      display: block;

      padding: rem(10) 0;

      white-space: nowrap;
      text-transform: uppercase;

      color: $black-color3;
      border-bottom: 2px solid transparent;
      &:hover {
         color: $black-color;
      }
   }
   .is-active {
      a {
         color: $primary-color;
         border-color: $primary-color;
      }
   }
}

.page-sorting {
   display: flex;

   align-items: center;
   &__label {
      margin: 0 rem(30) 0 0;

      color: #91939d;
   }
   &__button {
      display: flex;

      margin: 0 rem(30) 0 0;

      cursor: pointer;
      user-select: none;

      color: $black-color;

      align-items: center;
      span {
         border-bottom: 1px dashed $gray-color;
      }
      svg {
         display: none;

         margin-left: rem(9);
         path {
            fill: $gray-color;
         }
      }
      input {
         display: none;
         &:checked +span {
            color: $primary-color;
            border-color: transparent;
            & +svg {
               display: block;
            }
         }

         &.sorting-asc {
            & +span +svg {
               path {
                  &:first-child {
                     fill: $primary-color;
                  }
               }
            }
         }
         &.sorting-desc {
            & +span +svg {
               path {
                  &:last-child {
                     fill: $primary-color;
                  }
               }
            }
         }
      }
   }
}

.item-options {
   @include u-row-flex(25px);
   li {
      min-width: 65px;
      margin-bottom: rem(15);

@include u-col(25px);

@include u-size(3,12,25px);
   }
   &__image {
      margin-bottom: rem(10);
      img {
         width: 100%;
      }
   }
   &__name {
      font-size: rem(12);
      line-height: 1.2;

      text-align: center;
   }
}

.catalog-item {
   $parent: &;

   position: relative;

@include from($break_lg) {
      &:hover {
         z-index: 2;
         #{$parent}__inner {
            opacity: 0;
         }
         #{$parent}__hidden {
            pointer-events: all;

            opacity: 1;
         }
      }
   }

   &__title {
      font-size: rem(18);
      font-weight: 500;

      display: inline-block;

      margin-bottom: rem(15);

      color: $black-color;
      &:hover {
         color: $primary-color;
      }
   }

   &__hidden {
      position: absolute;
      top: -1px;
      right: -1px;
      left: -1px;

      padding: rem(20);

      pointer-events: none;

      opacity: 0;
      background: $white-color;
      box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.12);
      #{$parent}__price {
         margin-bottom: rem(15);
         padding-bottom: rem(15);

         border-bottom: 1px solid rgba($black-color3, 0.2);
      }
   }

   &__subtitle {
      font-size: rem(18);
      font-weight: 700;

      margin-bottom: rem(15);
   }
   &__description {
      font-size: rem(14);

      color: $black-color3;
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__image {
      display: block;

      margin-bottom: rem(30);
      img {
         width: 100%;
      }
   }
   &__price {
      font-size: rem(22);
      font-weight: 700;

      margin-bottom: rem(10);
   }
   &__params {
      display: flex;

      flex-wrap: wrap;
      &-item {
         display: flex;

         margin: 0 rem(30) rem(10) 0;

         align-items: center;
      }
      &-icon {
         margin-right: rem(12);

         flex-shrink: 0;
         svg {
            width: rem(15);
            height: rem(15);

            fill: $gray-color;
         }
      }
   }
}

.catalog {
   padding-bottom: rem(50);
   .pagination {
      margin-top: rem(30);
   }
   &__row {
      @include row-flex();

@include lg-block() {
         @include u-row-flex(20px);
      }
   }
   &__col {
      margin-bottom: rem(30);

@include col();

@include size(4);

@include lg-block() {
         @include u-col(20px);
         @include u-size(4,12,20px);
      }

@include sm-block() {
         @include u-size(6,12,20px);
      }

@include to(500px) {
         @include u-size(12,12,20px);
      }
   }
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(44);

@include sm-block() {
            margin-bottom: rem(30);
         }
      }
   }
   &__navigation {
      &:not(:last-child) {
         margin-bottom: rem(25);
      }
   }
   &__filter {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
}

.page-filter {
   &__mobile {
      display: none;

      height: 60px;
      margin-bottom: rem(20);

      border: solid 1px $gray-color;
      border-radius: 4px;

@include lg-block() {
         display: flex;
      }

      &-btn {
         font-size: 16px;
         font-weight: 700;

         display: flex;
 cursor: pointer;
@include xs-block() {
            font-size: 14px;
         } 

         flex-grow: 1;
         justify-content: center;
         align-items: center;
         &:hover {
            color: $primary-color;
            svg {
               fill: $primary-color;
            }
         }
         &:first-child {
            position: relative;
            &:after {
               position: absolute;
               top: rem(10);
               bottom: rem(10);
               left: 100%;

               display: block;

               width: 1px;

               content: '';

               background: $gray-color;
            }
         }
         svg {
            width: rem(24);
            height: rem(24);
            margin-right: rem(12);

            fill: $black-color;
            flex-shrink: 0;
         }
      }
   }
   &__sorting {
      @include lg-block() {
         display: none;
      }
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__row {
      display: flex;

@include lg-block() {
         display: none;
      }  flex-wrap: wrap;
   }
   &__item {
      margin: 0 rem(20) rem(20) 0;
   }
   .select2-container {
      width: initial !important;
   }

   .select2-container .select2-selection--single {
      height: rem(42);

      border: 1px solid $gray-color;
      border-radius: rem(4);
   }

   .select2-container--default .select2-selection--single .select2-selection__arrow {
      width: rem(40);
      height: rem(40);
      &:before {
         position: absolute;
         top: 50%;
         left: 50%;

         display: block;

         width: rem(13 );
         height: rem(6);

         content: '';
         transform: translate(-50%,-50%);

         background: svg-load('../icons/arrow-bottom.svg', fill=$black-color);
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
      }
      b {
         display: none;
      }
   }
   .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: rem(40);

      padding-right: rem(40);
      padding-left: rem(15);

      color: rgba( $black-color3,0.7);
   }
}

.pagination {
   display: flex;

@include sm-block() {
      --size: 40px;
   }  --size: 64px;
   align-items: center;
   justify-content: center;

   &__btn {
      font-size: rem(18);
      font-size: rem(14);
      font-weight: 400;

      display: inline-flex;

      height: var(--size);
      padding: 0 rem(35);

      color: $black-color;
      border-radius: rem(4);
      background: $light-color;

@include md-block() {
         width: var(--size);
         padding: 0;
      }

@include from($break_md) {
         &:last-child {
            margin-left: rem(40);
         }
         &:first-child {
            margin-right: rem(40);
         }
         &:hover {
            color: $primary-color;
            svg {
               fill: $primary-color;
            }
         }
      }  align-items: center;
      justify-content: center;

      svg {
         width: 6px;
         height: 12px;

@include from($break_md) {
            &:first-child {
               margin-right: rem(10);
            }
            &:last-child {
               margin-left: rem(10);
            }
         }  fill: $black-color;
         flex-shrink: 0;
      }
      span {
         @include md-block() {
            display: none;
         }
      }
      &:first-child {
         svg {
            transform: scale(-1,1);
         }
      }
   }
   &__list {
      display: flex;

      align-items: center;
      li {
         margin: 0 rem(10);

@include sm-block() {
            margin: 0 rem(5);
         }
      }
      a {
         font-size: rem(18);
         font-weight: 700;

         display: flex;

         width: var(--size);
         height: var(--size);

         color: $black-color;
         border-radius: rem(4);
         background: $light-color;

         align-items: center;
         justify-content: center;
         &:hover {
            color: $primary-color;
         }
         &.is-active {
            color: $white-color;
            background: $primary-color;
         }
      }
   }
}

.know {
   $bg: #3b3e41;

   padding: rem(100) 0;

   color: $white-color;
   background: url('../images/know/light.svg') top left/contain no-repeat, url('../images/know/cross.svg') top right no-repeat $bg;

@include lg-block() {
      background: url('../images/know/light.svg') top left/cover no-repeat, $bg url('../images/know/cross.svg') bottom -230px center/600px repeat-x;
   }

@include sm-block() {
      padding: rem(50) 0;

      background: url('../images/know/light.svg') top left/cover no-repeat, $bg url('../images/know/cross.svg') bottom -150px center/430px repeat-x;
   }

   &__light-svg {
      overflow: visible;
   }
   &__row {
      display: flex;

@include lg-block() {
         flex-wrap: wrap;
      }  align-items: center;
   }
   &__col {
      width: 50%;

@include lg-block() {
         width: 100%;
         &:not(:last-child) {
            margin-bottom: rem(50);
         }
      }

@include sm-block() {
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
      }
   }
   &__description {
      max-width: rem(515);

      color: rgba($white-color, 0.8);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   &__block {
      padding: rem(30) rem(20);

      border-radius: rem(4);
      background: $black-color;

@include from($break_sm) {
         padding: rem(40);
      }

@include from($break_lg) {
         margin-left: rem(25);
         padding: rem(50);
      }

      &-row {
         @include row-flex();
      }
      &-col {
         margin-bottom: rem(30);

@include sm-block() {
            margin-bottom: 15px;
         }

@include col();

         &.col-12 {
            @include size(12);
         }
         &.col-6 {
            @include size(6);

@include size-sm(12);
         }
      }
      &-footer {
         display: flex;

@include sm-block() {
            flex-wrap: wrap;
         }  align-items: center;

         &-content {
            font-size: rem(14);
            a {
               color: #4ba5f9;
               &:hover {
                  text-decoration: underline;
               }
            }
         }
         &-btn {
            width: 100%;
            margin-bottom: rem(15);

@include from($break_sm) {
               max-width: rem(185);
               margin-right: rem(40);
               margin-bottom: 0;
            }
         }
      }
   }
   &__title {
      font-size: rem(46);
      font-weight: 800;

      max-width: rem(550);

@include sm-block() {
         font-size: rem(28);
         font-weight: 700;
         line-height: 1.35;
      }

      &:not(:last-child) {
         margin-bottom: rem(40);

@include sm-block() {
            margin-bottom: rem(15);
         }
      }
   }
}

.calculate {
   overflow: hidden;

   color: $black-color;
   background: $light-color;

@include lg-block() {
      padding-bottom: rem(60);
   }

   &__btn {
      font-size: 16px;

      width: 100%;
      height: 60px;

@include from($break_sm) {
         max-width: rem(290);
      }
   }
   &__description {
      font-size: 16px;

      max-width: rem(515);

      color: $black-color2;

@include xs-block() {
         font-size: 14px;
      }

      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   &__media {
      background: url('../images/calculate/cross.svg') top right -33%/55% no-repeat;

@include lg-block() {
         display: flex;

         margin-top: rem(-120);
         margin-right: -$fields;

         justify-content: flex-end;
      }

@include sm-block() {
         margin-top: 0;

         background: url('../images/calculate/cross.svg') top right -33%/63% no-repeat;

         justify-content: flex-start;
      }

      img {
         width: 119.5%;
         max-width: initial;
         margin: 0 0 0 -3%;

@include lg-block() {
            width: 100%;
            margin: 0 -12% 0 0;
         }

@include sm-block() {
            width: 129.5%;
            margin: 0 0 0 -12%;
         }
      }
   }
   &__row {
      display: flex;

@include lg-block() {
         flex-wrap: wrap;
      }  align-items: center;
   }
   &__content {
      width: 50%;
      padding-top: rem(80);
      padding-bottom: rem(80);

@include lg-block() {
         width: 100%;
         margin-bottom: rem(40);
         padding-top: 50px;
         padding-bottom: rem(10);
      }
   }
   &__title {
      font-size: rem(46);
      font-weight: 800;

      max-width: 600px;

@include sm-block() {
         font-size: 28px;
      }

      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }
}

// Sections
@import 'sections/_header';
@import 'sections/_footer';

// Layout
//@import 'modals';

// Layout
@import 'layouts/_main-layout';
