@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/smart-grid';
@import 'libs';
@import 'utils/reset';
@import 'utils/_base';

// Typography
//@import 'typography';

// Helpers
@import 'utils/helpers-classes';

// Modules
//@import "modules/_loader";
@import 'modules/_buttons';
@import 'modules/_hamburger';
//@import 'modules/_fields';
//@import 'modules/_checkbox-and-radio';


.nowrap {
   white-space: nowrap;
}
.module-contacts {
   color: $black-color3;
   &__label {
      font-size: 0.8em;

      margin-bottom: rem(2);
   }
   &__value {
      font-size: 1em;
      font-weight: 700;

      color: inherit;
   }
}


// Sections
@import 'sections/_header';
@import 'sections/_footer';

// Layout
//@import 'modals';

// Layout
@import 'layouts/_main-layout';
