+b.HEADER.header-redesign
 +e.container.container
  +e.row
    +e.btn-menu
     include _hamburger
    
    +e.A(href="index.html" class="logo")
      img(src="assets/images/logo.svg", alt="")

    +e.UL.navigation

      +e.LI.navigation-item.has-podmenu
       +e.A(href="catalog.html" class=`navigation-link`) Наши дома
       ul
        li 
         a(href="catalog.html") Типовые проекты
        li 
         a(href="catalog-finished.html") Готовые дома
        li 
         a(href="catalog-township.html") Поселки
        li 
         a(href="catalog-under-construction.html") Строящиеся дома
        li 
         a(href="catalog-on-sale.html") В продаже
        li 
         a(href="#") На карте
      +e.LI.navigation-item
       +e.A(href="#" class=`navigation-link`) Технологии
      +e.LI.navigation-item
       +e.A(href="#" class=`navigation-link`) Подрядчики
      +e.LI.navigation-item.has-podmenu
       +e.A(href="#" class=`navigation-link`) Сервисы
       ul
        li 
         a(href="#") Тест-лайф
        li 
         a(href="#") Ипотека
        li 
         a(href="#") Технический аудит
      +e.LI.navigation-item.has-podmenu
       +e.A(href="#" class=`navigation-link`) Еще
       ul
        li 
         a(href="#") О нас
        li.has-podmenu 
         a(href="#") Блог
         ul
          li 
           a(href="#") Мероприятия
          li 
           a(href="#") Статьи
          li 
           a(href="#") СМИ о нас
          li 
           a(href="#") Видео
        li 
         a(href="#") Контакты

    +e.A(href="#" class='btn btn --primary --small') Расчитать дом

    +b.module-contacts(class="__contacts")
     +e.label Бесплатно по РФ
     +e.A(href="tel:88006000565" class="value nowrap") 8 (800) 600-05-65

    +e.A(href="#").search 
     +icon('search')

    +e.separator 

    if !isAuth
     +e.A(href="#").signup 
      +icon('sign')
      span Войти
    else 
     +e.A(href="#" class="notifications has-message")
      +icon('bell')
     +e.user 
      +e.user-icon-link 
       +icon('user')
      +e.user-link
       +e.user-name Соловьев П.
       <svg width="14" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 1 6 6 6-6" stroke="#54555A" stroke-linecap="round" stroke-linejoin="round"/></svg>