+b.SECTION.plan
   .container 
    +e.H2.title.h2 Планировка
    +b.A(href="#" download class="btn --transparent --primary __btn")
     +icon('download')
     span Скачать проект планировки
    +e.row 
     +e.col 
      +b.A(href="assets/images/details/planning/1.png" data-fancybox="planning" class="planning-item")
       +e.image 
        img(src="assets/images/details/planning/1.png", alt="")
       +e.name 1 этаж – 47,3 м²
     +e.col 
      +b.A(href="assets/images/details/planning/1.png" data-fancybox="planning" class="planning-item")
       +e.image 
        img(src="assets/images/details/planning/1.png", alt="")
       +e.name 2 этаж – 47,3 м²