+b.SECTION.calculate
 .container
  +e.row 
   +e.content 

    +e.H4.title Калькулятор стоимости вашего дома

    +e.description 
     p Есть проект или видение своего идеального дома? Получите оценку стоимости его строительства по стандартам DOM TECHNONICOL прямо сейчас в нашем калькуляторе.
    
    +e.buttons
     +e.A(href="#" class='btn btn --primary') Рассчитать стоимость
   
   +e.media 
    img(src="assets/images/calculate/house.png", alt="")