extends ../layout/main

block variables
    - var title = '';
    - var description = '';
    - var pageName = 'catalog-details';
block content
  +b.SECTION.catalog-details
   .container
  
block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")