extends ../layout/main

block variables
    - var title = 'Типовые проекты';
    - var description = '';
    - var pageName = 'catalog';
    -
     var items = [
      {
       img: 'assets/images/catalog/1.png',
       link: 'catalog-details.html',
       title: 'CONSTANT 160-2',
       price: 'от 8 305 784 ₽',
       square: '165',
       floor: '2 этажа',
       time: 'от 2,5 месяцев'
      },
      {
       img: 'assets/images/catalog/2.png',
       link: 'catalog-details.html',
       title: 'BASIS 120-1',
       price: 'от 5 477 739 ₽',
       square: '121',
       floor: '2 этажа',
       time: 'от 2 месяцев'
      },
      {
       img: 'assets/images/catalog/3.png',
       link: 'catalog-details.html',
       title: 'AXIOM 40-1',
       price: 'от 8 305 784 ₽',
       square: '47',
       floor: '2 этажа',
       time: 'от 1,5 месяцев'
      },
      {
       img: 'assets/images/catalog/3.png',
       link: 'catalog-details.html',
       title: 'AXIOM 40-1',
       price: 'от 8 305 784 ₽',
       square: '47',
       floor: '2 этажа',
       time: 'от 1,5 месяцев'
      },
      {
       img: 'assets/images/catalog/1.png',
       link: 'catalog-details.html',
       title: 'CONSTANT 160-2',
       price: 'от 8 305 784 ₽',
       square: '165',
       floor: '2 этажа',
       time: 'от 2,5 месяцев'
      },
      {
       img: 'assets/images/catalog/2.png',
       link: 'catalog-details.html',
       title: 'BASIS 120-1',
       price: 'от 5 477 739 ₽',
       square: '121',
       floor: '2 этажа',
       time: 'от 2 месяцев'
      },
     ]
block content

  +b.SECTION.catalog
   .container
    +b.H1.page-title(class="__title") Проекты домов

    include ../includes/modules/_catalog-navigation

    +b.page-filter(class="__filter")
     +filter({storey, square, price, type, bedrooms})
     +e.footer-row
      +page-sorting()

    +e.row 
     each item in items
      +e.col 
       +catalog-item(item)
       
    include ../includes/modules/_pagination

  include ../includes/modules/_section-calculate

  include ../includes/modules/_section-know
  
block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")