extends ../layout/main

block variables
    - var title = 'Коттеджный поселок «Воздвиженское», Московская область';
    - var description = '';
    - var pageName = 'catalog-details';
    -
     var tags = [
        {
         name: 'Можно посетить',
         icon: 'home'
        },
        {
         name: 'Видеотрансляция',
         icon: 'video'
        },
       ]
block content
  
  +b.SECTION.catalog-details
   +e.preview 
     +b.page-top(class="__page-top") 
      .container 
       +e.row
        +b.A(href="catalog.html" class="btn-circle __back")
         +e.icon(class="--small")
          +icon('arrow-right')
         span Все типовые проекты
        +b.A(href="#" class="btn-circle")
         +e.icon
          +icon('share')
     
     +e.preview-info 
      .container
       +e.preview-row
        +e.preview-col 
         +e.H1.preview-title AXIOM 40-1
         +e.preview-description от 8 305 784 ₽ 

        +e.preview-col 
         +e.params
          +e.params-item 
           +e.params-name Общая площадь
           +e.params-value 
            +icon('size')
            span 47 м²
          +e.params-item 
           +e.params-name Этажность
           +e.params-value 
            +icon('menu')
            span 2
          +e.params-item 
           +e.params-name Срок строительства
           +e.params-value 
            +icon('clock')
            span от 1,5 месяцев


     img(src="assets/images/details/preview.png", alt="")
   .container
    

    +e.row
     +e.col 
      +e.gallery
       +e.gallery-large
        +e.gallery-prev(ref="prev") 
           +icon('arrow-right')
          
        +e.gallery-next(ref="next")
          +icon('arrow-right')
        .swiper-container.js-swiper-gallery-large
          .swiper-wrapper
            .swiper-slide 
             +b.A(href="assets/images/details/pic.png" data-fancybox="details").slide-large
              img(src="assets/images/details/pic.png", alt="")
            .swiper-slide 
             +b.A(href="assets/images/details/pic2.png" data-fancybox="details").slide-large
              img(src="assets/images/details/pic2.png", alt="")
            .swiper-slide 
             +b.A(href="assets/images/details/pic3.png" data-fancybox="details").slide-large
              img(src="assets/images/details/pic3.png", alt="")
            .swiper-slide 
             +b.A(href="assets/images/details/pic2.png" data-fancybox="details").slide-large
              img(src="assets/images/details/pic2.png", alt="")
            
       +e.thrumbs
         .swiper-container.js-swiper-gallery-small
           .swiper-wrapper
             .swiper-slide 
                +b.slide-small
                 img(src="assets/images/details/pic.png", alt="")
             .swiper-slide 
                +b.slide-small
                 img(src="assets/images/details/pic2.png", alt="")
             .swiper-slide 
                +b.slide-small
                 img(src="assets/images/details/pic3.png", alt="")
             .swiper-slide 
                +b.slide-small
                 img(src="assets/images/details/pic2.png", alt="")
     +e.col 
      +e.params
       +e.params-item 
        +e.params-name Строительная площадь 
    
        +e.params-value 
         +icon('size')
         span 47 м²
         span.answer-icon 
          +icon('help')
       +e.params-item 
        +e.params-name Отапливаемая площадь 
     
        +e.params-value 
         +icon('size')
         span 42 м²
       +e.params-item 
        +e.params-name Срок строительства
        +e.params-value 
         +icon('clock')
         span от 1,5 месяцев
       +e.params-item 
        +e.params-name Кол-во спален
        +e.params-value 
         +icon('grid')
         span 2
       +e.params-item 
        +e.params-name Этажность
        +e.params-value 
         +icon('menu')
         span 2
      
      +e.field-row 
       +e.field-label Тип конструкции:

       +b.switch-buttons 
        +e.LABEL.button 
         input(type="radio" name="type_construction" value="frame" checked)
         span Каркас
        +e.LABEL.button 
         input(type="radio" name="type_construction" value="block")
         span Блоки

      +e.field-row 
       +e.field-label Фундамент:

       +b.switch-buttons 
        +e.LABEL.button 
         input(type="radio" name="foundation" value="swedish" checked)
         span Утепленная шведская плита
        +e.LABEL.button 
         input(type="radio" name="foundation" value="pile-screw")
         span Свайно-винтовой фундамент

      +e.field-row 
       +e.field-label Варианты внешней отделки:

       +b.radio-cards 
        +e.LABEL.item
         input(type="radio" name="exterior" value="HAUBERK" checked)
         +e.item-wrap
          +e.item-image
           +e.item-button
           img(src="assets/images/details/exterior/HAUBERK.png", alt="")
          +e.item-name HAUBERK
        +e.LABEL.item
         input(type="radio" name="exterior" value="Имитация бруса")
         +e.item-wrap
          +e.item-image
           +e.item-button
           img(src="assets/images/details/exterior/timber-imitation.png", alt="")
          +e.item-name Имитация бруса
        +e.LABEL.item
         input(type="radio" name="exterior" value="Фахберк")
         +e.item-wrap
          +e.item-image
           +e.item-button
           img(src="assets/images/details/exterior/fachwerk.png", alt="")
          +e.item-name Фахверк
        +e.LABEL.item
         input(type="radio" name="exterior" value="Штукатурный фасад")
         +e.item-wrap
          +e.item-image
           +e.item-button
           img(src="assets/images/details/exterior/stucco-facade.png", alt="")
          +e.item-name Штукатурный фасад
      +e.hr 

      +e.row-price 
       +e.row-price-value от 8 305 784 ₽ 
       +e.A(href="#" class='row-price-btn btn --primary') Хочу такой дом

    +e.tabs.js-tabs
     +b.UL.page-navigation(class="__tabs-navigation") 
      li.js-tab-link 
       a Описание
      li.js-tab-link 
       a Стадии готовности
      li.js-tab-link 
       a Конструктив стен
      li.js-tab-link 
       a Выбрать подрядчика

     // Tab - Описание
     +e.tabs-content.js-tab-content
      +b.tab-catalog-description
       +e.row 
        +e.col
         +e.content.typography 
          p Этот дом — как выпускной, как первый автомобиль и как первый поход на рок-концерт: с него начинается новая жизнь. Размером с приличную однокомнатную квартиру, он достаточно просторный, чтобы осчастливить семью из двух-трех человек с собакой и компанией друзей на вечерней веранде. Дом AXIOM 40-1 создан для настоящих ценителей хюгге-настроения, с шерстяным пледом и без лишних вещей в шкафу. Кому нужна «однушка» в высотке, если у вас есть собственный дом с верандой, с порога которого открывается весь мир?
          p Несмотря на компактную квадратуру, в доме есть две светлые жилые комнаты и кухня-студия, которая совмещается с уютной гостиной, санузел. Выбирайте дом AXIOM 40-1 и начинайте жить по своим правилам. Здесь можно шуметь до утра, спать в тишине до обеда и наконец-то испытать сабвуфер на всю громкость. Знаем, вы об этом постоянно думаете.
          p Можно вечно копить на дом побольше, попросторнее и покрасивее, а можно уже через пару месяцев заехать в свой собственный уютный коттедж, построенный в не боящихся мороза традициях Скандинавии. Как сказал Лев Толстой: «Счастлив тот, кто у себя дома». Оставляйте заявку на сайте, и мы поможем вам стать чуточку счастливее.
        +e.col 
         +b.planning
          +e.title Планировки
          +e.row 
           +e.col 
            +b.A(href="assets/images/details/planning/1.png" data-fancybox="planning" class="planning-item")
             +e.image 
              img(src="assets/images/details/planning/1.png", alt="")
             +e.name 1 этаж – 47,3 м²
           +e.col 
            +b.A(href="assets/images/details/planning/1.png" data-fancybox="planning" class="planning-item")
             +e.image 
              img(src="assets/images/details/planning/1.png", alt="")
             +e.name 2 этаж – 47,3 м²

     // Tab - Стадии готовности
     +e.tabs-content.js-tab-content
      +b.tab-catalog-stages
       +b.table-module 
         +e.tbody 
          +e.tr 
           +e.td 
           +e.td 
            strong Теплый контур
            small от 2 месяцев
           +e.td 
            strong С черновой отделкой
            small от 2.5 месяцев
           +e.td 
            strong С чистовой отделкой
            small от 3 месяцев
          +e.tr 
           +e.td Фундамент
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Фундамент
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Силовой каркас
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Крыша
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Утепление внешнего контура
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Внешняя отделка
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Окна и двери внешнего контура
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Водосточная система
           +e.td
            span.table-success +
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Черновая инженерия
           +e.td
            span.table-danger -
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Шумоизоляция во внутренних конструкциях
           +e.td
            span.table-danger -
           +e.td
            span.table-success +
           +e.td
            span.table-success +
          +e.tr 
           +e.td Финишная отделка
           +e.td
            span.table-danger -
           +e.td
            span.table-danger -
           +e.td
            span.table-success +
          +e.tr 
           +e.td Чистовая инженерия
           +e.td
            span.table-danger -
           +e.td
            span.table-danger -
           +e.td
            span.table-success +
          +e.tr 
           +e.td 
            strong Стоимость
           +e.td
            strong от 8 305 784 ₽ 
            +e.btn.btn(class="--primary") Оставить заявку
           +e.td
            strong от 8 565 784 ₽
            +e.btn.btn(class="--primary") Оставить заявку
           +e.td
            strong от 9 039 784 ₽ 
            +e.btn.btn(class="--primary") Оставить заявку
     // Tab - Конструктив стен
     +e.tabs-content.js-tab-content
      +b.tab-catalog-side

       +b.table-module 
         +e.tbody 
          +e.tr 
           +e.td 
           +e.td 
            strong Каркас
            small от 2 месяцев
            +e.btn.btn(class="--transparent") 
             +icon('cube')
             span Оставить заявку
           +e.td 
            strong Блок
            small от 1 месяца
            +e.btn.btn(class="--transparent") 
             +icon('cube')
             span Оставить заявку
          +e.tr 
           +e.td Срок эксплуатации без ремонта
           +e.td до 50 лет
           +e.td до 40 лет
          +e.tr 
           +e.td Класс энергоэффективности
           +e.td до А++
           +e.td до А++
          +e.tr 
           +e.td Звукоизоляция
           +e.td до 80 дБ
           +e.td до 80 дБ
          +e.tr 
           +e.td Срок строительства
           +e.td 1.5 месяца
           +e.td 2 месяца
          +e.tr 
           +e.td Толщина стен для г. Москвы
           +e.td 25 см
           +e.td 25 см
          +e.tr 
           +e.td
           +e.td 
            strong от 8 305 784 ₽ 
           +e.td 
            strong от 8 305 784 ₽ 
          +e.tr 
           +e.td 
           +e.td 
            +e.btn.btn(class="--primary") Оставить заявку
           +e.td 
            +e.btn.btn(class="--primary") Оставить заявку
          +e.tr 
           +e.td
           +e.td 
            strong.color-primary Больше о конструктиве
           +e.td 
            strong.color-primary Больше о конструктиве

       +b.notification-module 
        +icon('warning')
        +e.content 
         p Технологию строительства можно выбрать для любой стадии готовности.
        +e.text-right 
         p Мы можем помочь подобрать правильный тип конструкции, отвечающий климатической зоне вашего проживания.
     
     // Tab - Выбрать подрядчика
     +e.tabs-content.js-tab-content
      +b.tab-catalog-contractor
       +b.page-filter(class="__filter")
        +filter({region, resetBtn})
       
       +b.contractors-slider.swiper-container.js-contractors-swiper
        +e.prev(ref="prev") 
           +icon('arrow-right')
          
        +e.next(ref="next")
          +icon('arrow-right')
        +e.wrapper.swiper-wrapper
         each item in [1,2,3,4,5,6]
          +e.slide.swiper-slide 
           +b.contractors-item 
            +e.top 
             +e.image 
              img(src="assets/images/details/contractors/1.png", alt="")
             +e.top-content 
              +e.title Мила-Вилла
              +b.rating-module(class='__rating') 
               +e.icon 
                +icon('star')
               +e.value 8.1 
                span.answer-icon 
                 +icon('help')
            +e.UL.table-list 
             +e.LI 
              +e.table-list-name Регион:
              +e.table-list-value 
               strong Самарская область
             +e.LI 
              +e.table-list-name Готовых объектов:
              +e.table-list-value 
               strong 11
             +e.LI 
              +e.table-list-name Аккредитован ДОМ РФ:
              +e.table-list-value 
               strong Дa
             +e.LI 
              +e.table-list-name Количество бригад:
              +e.table-list-value 
               strong 10
             +e.LI 
              +e.table-list-name Стаж в строительстве:
              +e.table-list-value 
               strong 9 лет

       +b.pagination-more(class="__pagination")
        +e.btn.btn(class="--black-line") Все подрядчики

  include ../includes/modules/_section-calculate
  include ../includes/modules/_section-know

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")