extends ../layout/main

block variables
    - var title = 'Коттеджный поселок «Воздвиженское», Московская область';
    - var description = '';
    - var pageName = 'catalog-details';
    -
     var tags = [
        {
         name: 'Можно посетить',
         icon: 'home'
        },
        {
         name: 'Видеотрансляция',
         icon: 'video'
        },
       ]
block content
  +b.SECTION.page-top 
   .container 
    +e.row
     +b.A(href="catalog-under-construction.html" class="btn-circle __back")
      +e.icon(class="--small")
       +icon('arrow-right')
      span Все строящиеся дома дома
     +b.A(href="#" class="btn-circle")
      +e.icon
       +icon('share')
  +b.SECTION.catalog-details
   .container
    +b.H1.page-title(class="__title --inline") МО, г.о. Чехов, д.Ходаево, ДНП Сантория
    +e.tags(class="--inline")
     each tag in tags
      +e.tag 
       +icon(tag.icon)
       span=tag.name

    +e.row
     +e.col 
      include ../includes/modules/_catalog-details-gallery
      +gallery('video')
     +e.col 
      +e.params
       +e.params-item 
        +e.params-name Общая площадь
        +e.params-value 
         +icon('size')
         span 47 м²
       +e.params-item 
        +e.params-name Этажность
        +e.params-value 
         +icon('menu')
         span 2
       +e.params-item 
        +e.params-name Этап строительства
        +e.params-value 
         +icon('play')
         span Отделка
   
      +e.UL.table-list 
       +e.LI 
        +e.table-list-name Подрядчик:
        +e.table-list-value 
         a(href="#" target="_blank") 
          strong ТЕХНОКАРКАС
       +e.LI 
        +e.table-list-name Тип конструкции:
        +e.table-list-value 
         strong Блочный
       +e.LI 
        +e.table-list-name Фундамент:
        +e.table-list-value 
         strong УШП
       +e.LI 
        +e.table-list-name Тип кровли:
        +e.table-list-value 
         strong Двухскатная
       +e.LI 
        +e.table-list-name Материал кровли:
        +e.table-list-value 
         a(href="#" target="_blank") 
          strong SHINGLAS
       +e.LI 
        +e.table-list-name Внешняя отделка:
        +e.table-list-value 
         strong Фиброцементный сайдинг Decover
       +e.LI 
        +e.table-list-name Внешняя отделка:
        +e.table-list-value 
         strong ГКЛ
      +e.hr
      +e.row-price 
       +e.row-price-value от 8 305 784 ₽ 
       +e.A(href="#" class='row-price-btn btn --primary') Хочу такой дом

      +b.A(href="#" target="_blank" class='block-link')
       +e.name Для этого дома достуна онлайн-трансляция
       +e.link
        span Смотреть трансляцию
        +icon('arrow-link')

  include ../includes/modules/_plan
  include ../includes/modules/_tour-3d

  include ../includes/modules/_section-calculate
  include ../includes/modules/_section-know

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")