extends ../layout/main

block variables
    - var title = '';
    - var description = '';
    - var pageName = 'index';
block content

  +b.SECTION.home
  
block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")