extends ../layout/main

block variables
    - var title = '';
    - var description = '';
    - var pageName = 'index';
block content
  +b.cookie-alert 
   +e.icon 
    img(src="assets/images/cookie-icon.svg", alt="")
   +e.text 
    p Наш сайт использует cookie файлы для хранения данных.<br> Продолжая использовать сайт, вы даете свое согласие на работы с этими файлами
   
   +e.A(href="#" class='btn btn --primary') Принять и закрыть
  
  +b.SECTION.home
   .container
    +b.H1.page-title Политика конфиденциальности
    +b.content-and-aside 
     +e.content
      +b.typography 
       
       h3#title1 Введение

       p ООО «ТехноНИКОЛЬ — Строительные системы» — это профессиональная зарегистрированная в законном порядке организация, сферой деятельности которой является производство строительных и изоляционных материалов. Наша цель — сохранение и укрепление своей репутации в онлайн-пространстве, включая защиту персональных данных. Любая полученная от вас личная информация используется для улучшения процессов поиска, просмотра, удобства отправки заявок и обработки заказов. Мы не пытаемся сознательно запрашивать и получать информацию от детей.
       p Нам известно, что Вы осведомлены и заботитесь о своей личной информации, и мы серьёзно относимся к этому вопросу. В настоящей Политике конфиденциальности представлено описание правил и порядка работы с точки зрения сбора и использования персональных данных ООО «ТехноНИКОЛЬ — Строительные системы», а также приводится определение прав пользователя на неприкосновенность конфиденциальной информации. Мы признаём, что сохранение конфиденциальности информации является нашим постоянным обязательством, в связи с чем настоящие положения Политики конфиденциальности будут регулярно обновляться по мере следования новым практикам по защите персональных данных или принятия новых правил обработки персональных данных.
       p В целях усовершенствования работы нашего сайта мы оставляем за собой право на сбор информации, дающей нам понимание процессов того, как клиент пользуется сайтом.
       p Например, мы можем проводить анализ собранной информации с целью определения наиболее часто используемых разделов сайта. Мы имеем право на предоставление совокупных статистических данных о наших клиентах, продажах, моделях трафика и соответствующей информации о сайте признанным независимым поставщикам ПО, таким как GoogleAnalytics (информация об использовании персональных данных Google представлена на странице Политики конфиденциальности Google), однако эти статистические данные не будут включать индивидуальные устанавливающие личность сведения. Мы не анализируем такую персональную информацию, как имя и/или адрес электронной почты.
       
       h3#title2 Согласие на обработку персональных данных

       p Использование данного веб-сайта означает согласие пользователя на сбор и использование персональных данных. В случае принятия решения об изменении настоящей политики конфиденциальности соответствующие изменения будут представлены на данной странице — так, чтобы пользователь всегда имел чёткое представление о том, сбор каких сведений мы ведём, как их используем и при каких условиях они подлежат огласке.
       
       h3#title3 С какой целью мы собираем персональную информацию?

       p Персональная информация о пользователе (адрес электронной почты, имя, номер телефона и почтовый адрес) даёт нам возможность в случае необходимости связаться с ним для обработки заказа, уведомления о статусе заказа и ответа на вопросы. Это даёт пользователю возможность доступа к тем разделам сайта, где применяются законодательные требования. За немногими исключениями данная информация ограничивается сведениями, содержащимися на стандартной визитной карточке: именем, фамилией, должностью, наименованием работодателя, рабочим адрес, рабочим адрес электронной почты, номером рабочего телефона.
       p Кроме того, анализ персональной информации даёт нам возможность совершенствовать интерфейс поиска и оформления покупок, так как благодаря этому мы можем предложить информационный контент, отвечающий непосредственно интересам пользователя. Таким образом пользователь получает больше желательной информации и меньше нежелательной.
       p Мы следим за клиентскими «моделями трафика» и использованием сайта, и это позволяет нам развивать и совершенствовать структуру, дизайн и внешний вид сайта.
       p Мы используем данную информацию для того, чтобы иметь возможность информировать пользователя о важных изменениях на сайте, новых сервисах и специальных предложениях. В случае если вы не желаете в дальнейшем получать данную информацию, пожалуйста, пришлите емейл на адрес privacy@tn.ru.

       h3#title4 Передаём ли мы полученную информацию третьим лицам?

       p Настоящим обязуемся не продавать, не извлекать выгоду, не сдавать в аренду и иным образом не предавать огласке персональную информацию пользователя любым лицам за пределами нашей организации.
       p Информация об учётной записи пользователя передаётся третьим лицам исключительно в случаях, когда такого рода передача будет являться обоснованно необходимой для (i) соблюдения законодательных норм, (ii) приведения в исполнение или применения условий любых наших пользовательских соглашений либо (iii) защиты прав, собственности или безопасности нашей организации, включая, но не ограничиваясь обеспечением безопасности функционирования наших внутренних процессов, наших пользователей и прочих лиц.

       h3#title5 Каким образом обеспечивается защита персональных данных?

       p Все собираемые нами персональные данные защищены от несанкционированного доступа с помощью новейших технологий безопасности.

       h3#title6 Что такое "cookie-файлы" и аналогичные технологии?

       p «Cookie-файлы» — небольшой фрагмент данных, отправленный веб-сервером в виде небольшого текстового файла на жёсткий диск вашего компьютера. Файлы используются для регистрации данных о пользователе. «Cookie-файлы» делают сайт более функциональным за счёт хранения информации о предпочтениях пользователя. «Cookie-файлы» сами по себе не идентифицируют пользователя, но идентифицируют его компьютер. Мы и наши партнёры-независимые поставщики услуг имеем право в т. ч. применять на сайте и в электронных письмах пиксельные теги (известные также как веб-маяки, веб-жучки, и пустые GIF-файлы). Пиксельный тег — практически незаметное графическое изображение на веб-странице или в электронном сообщении, сжатое до размеров пиксела.
       p Например, после регистрации на веб-сайте пользователь может каждый раз получать запрос на авторизацию при каждом повторном входе на сайт. Если активирована опция автоматической авторизации, технология cookie запоминает компьютер пользователя и при повторном входе авторизация осуществляется автоматически. В этом случае необходимости запоминать логин и пароль нет.
       p Информация, которую мы и наши партнёры-независимые поставщики услуг собираем с помощью технологий cookie, пиксельных тегов и аналогичных инструментов, включает следующие данные: взаимодействие пользователя с нашими сайтами и рекламными объявлениями; время посещения сайта; сведения о товарах, помещаемых пользователем в корзину, информацию о том, оформляется ли покупка на все товары в корзине или на их часть; подтверждения о прочтении наших писем, в т. ч. данные о времени открытия электронного письма, сведения о том, был ли совершён переход по какой-либо ссылке в письме; информацию о посещаемых сайтах после посещения нашего.
       p Сбор персональных данных ведётся непосредственно нами с помощью наших страниц в социальных сетях, таких как Facebook, Twitter, LinkedIn и др., либо сайтом соцсети, на котором есть наши страницы. Наша Политика конфиденциальности не распространяется на правила обращения с конфиденциальной информацией и процедуры безопасности, имеющие отношение к сайтам социальных сетей, на которых зарегистрирована наша компания.
       p Мы сотрудничаем с независимыми компаниями-рекламодателями и, таким образом, на своих сайтах можем предложить специально подобранную для конкретного пользователя рекламу. Для сбора информации о действиях пользователя на нашем и других сайтах такие независимые компании-рекламодатели размещают, используют и применяют cookie-фалы и пиксельные теги. Данная информация, основанная на практике посещения пользователем нашего и других сайтов, позволяет повышать релевантность отображаемой рекламы.

       h3#title7 Как отписаться?

       p Пользователь имеет право отписаться или изменить параметры своей подписки в любое время и на любое из наших информационных писем и пр. - для этого необходимо отправить запрос на емейл-адрес privacy@tn.ru.

       h3#title8 В заключение

       p Мы делаем всё возможное для того, чтобы обеспечить защиту персональных данных пользователя. Мы используем полученную на сайте информацию для того, чтобы максимально облегчить процесс поиска и оформления покупок на нашем сайте и обеспечить пользователю наилучшее качество обслуживания. Данная информация будет доступна только лицам, официально уполномоченным на её обработку. Мы не продаём, не извлекаем выгоду, не сдаём в аренду третьим лицам персональную информацию пользователя. В случае если вы не желаете в дальнейшем получать от нас сообщения или специальные предложения, просим проинформировать нас на емейл-адрес privacy@tn.ru.
       p Обратная связь всегда приветствуется. Все вопросы и предложения, связанные с Политикой конфиденциальности, просим сообщать по емейл-адресу privacy@tn.ru.

     +e.ASIDE.sidebar
      +e.sidebar-sticky
       +b.block-shadow 
        +b.H4.block-title Содержание
        +b.UL.navigation-list
         li
          a(href="#title1").js-anchor Введение 
         li
          a(href="#title2").js-anchor Согласие на обработку персональных данных
         li
          a(href="#title3").js-anchor С какой целью мы собираем персональную информацию?
         li
          a(href="#title4").js-anchor Передаём ли мы полученную информацию третьим лицам?
         li
          a(href="#title5").js-anchor Каким образом обеспечивается защита персональных данных?
         li
          a(href="#title6").js-anchor Что такое "cookie-файлы" и аналогичные технологии?
         li
          a(href="#title7").js-anchor Как отписаться?
         li
          a(href="#title8").js-anchor В заключение


block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")