// Abstract colors
$primary-color: #c02235;
$accent-color: #2a6cee;
$white-color: #fff;
$black-color: #2d3134;
$black-color2: #414649;
$black-color3: #54555a;
$light-color: #f9f9fc;
$gray-color: #c1c3c2;


// Fonts
$main-font: 'Geometria', sans-serif;
$main-font-color: $black-color;
$main-font-size: 16px;
$main-font-weight: 400;
$main-line-height: 1.5;



// fields
$field-margin: 25px;
$field-border-width: 2px;
$field-border-color: $gray-color;
$field-radius: 0;
$field-bg: transparent;


// Radius
$radius-base: 8px;
