.main-layout {
   display: flex;
   flex-direction: column;

   min-height: 100vh;

@include lg-block() {
      padding-top: $header-height-tablet;
   }

@include sm-block() {
      padding-top: $header-height-mobile;
   }

   .footer,
   .footer-redesign {
      margin-top: auto;
   }

   &__content {
      position: relative;
      & >section {
         &:first-child {
            padding-top: rem(50);
         }
      }
   }
}



