.main-layout {
   display: flex;
   flex-direction: column;

   min-height: 100vh;



   .footer,
   .footer-redesign {
      margin-top: auto;
   }

   &__content {
      position: relative;

      padding-top: rem(50);

@include sm-block() {
         padding-top: rem(40);
      }
   }
}



