.header-redesign {
   $parent: &;

   position: relative;

   border-bottom: 1px solid $gray-color;
   &__container {
      max-width: rem(1680);
   }
   &__btn-menu {
      display: none;

      width: rem(36);
      height: rem(36);

      cursor: pointer;

@include lg-block() {
         display: flex;

         margin-right: rem(10);
      }

@include sm-block() {
         margin-right: rem(5);
      }  align-items: center;
   }
   &__logo {
      display: block;

      width: rem(112);
      margin-right: rem(30);

@include xxl-block() {
         width: rem(88);
      }

@include lg-block() {
         width: rem(70);
         margin-right: auto;
      }  flex-shrink: 0;
   }
   &__user {
      font-size: 14px;

      margin-left: rem(6);

      cursor: pointer;

      color: $black-color3;

@include lg-block() {
         margin-left: rem(20);
      }

      &:hover {
         color: $primary-color;
      }
      &-icon-link {
         display: none;

         width: 30px;
         height: 30px;

         cursor: pointer;

@include to(600px) {
            display: flex;

            align-items: center;
            justify-content: center;
            svg {
               width: 22px;
               height: 22px;

               fill: $black-color3;
            }
         }  align-items: center;
         justify-content: center;

         &:hover {
            svg {
               fill: $primary-color;
            }
         }
      }
      &-name {
         display: block;
         overflow: hidden;

         max-width: 90px;

         white-space: nowrap;
         text-overflow: ellipsis;
      }
      &-link {
         display: flex;

@include to(600px) {
            display: none;
         }  align-items: center;

         svg {
            margin-left: rem(12);

            flex-shrink: 0;
         }
      }
   }
   &__navigation {
      display: flex;

@include lg-block() {
         display: none;
      }

@include to(1620px) {
         flex: 0 0 45%;
      }

@include to(1440px) {
         flex: 0 0 47%;
      }  justify-content: flex-start;
      flex-wrap: wrap;
      flex: 0 0 52%;
      align-items: center;

      &-item {
         position: relative;

         margin: 0 rem(20);

@include to(1620px) {
            display: none;

            margin: 0;

            flex-grow: 1;
            &:nth-child(-n+5) {
               display: block;
            }
         }

         ul {
            line-height: 1.2;

            z-index: $z-index-podmenu;

            min-width: rem(195);

            transition: transform $animSpeed/2 $anim, opacity $animSpeed/2 $anim;
            transform: translateY(-15px);
            pointer-events: none;

            opacity: 0;
            border-radius: $radius-base/2;
            background: $white-color;
            box-shadow: 0 10px 125px -20px rgba(18, 19, 17, 0.15);

            .has-podmenu {
               position: relative;

               a {
                  padding-right: rem(35);
               }
               &:after {
                  position: absolute;
                  top: 50%;
                  right: rem(15);

                  display: block;

                  width: rem(10);
                  height: rem(10);

                  content: '';
                  transform: translateY(-50%) rotate(-90deg);

                  background-image: svg-load('../icons/arrow-bottom.svg', fill=$black-color);
                  background-repeat: no-repeat;
                  background-size: contain;

                  flex-shrink: 0;
               }
            }
            a {
               display: block;

               padding: rem(17) rem(20);

               transition: all $animSpeed/3 $anim;

               color: $black-color;
               &:hover {
                  font-weight: 500;

                  color: $primary-color;
                  background: $light-color;
               }
            }
         }

         & >ul {
            position: absolute;
            top: 100%;
            left: 0;

            li {
               position: relative;
               & >ul {
                  position: absolute;
                  top: 0;
                  left: 100%;
               }
               &:hover {
                  & >ul {
                     transform: none;
                     pointer-events: all;

                     opacity: 1;
                  }
               }
            }
         }

         &:hover {
            & >ul {
               transform: none;
               pointer-events: all;

               opacity: 1;
            }
         }

         &.has-podmenu {
            display: flex;

@include to(1620px) {
               display: none;
               &:nth-child(-n+5) {
                  display: flex;
               }
            }

@include to(1620px) {
               display: none;
               &:nth-child(-n+5) {
                  display: flex;
               }
            }  align-items: center;

            &:after {
               display: block;

               width: rem(10);
               height: rem(10);
               margin-top: rem(5);
               margin-left: rem(5);

               content: '';

               background-image: svg-load('../icons/arrow-bottom.svg', fill=$black-color);
               background-repeat: no-repeat;
               background-size: contain;

               flex-shrink: 0;
            }
            &:hover {
               &:after {
                  background-image: svg-load('../icons/arrow-bottom.svg', fill=$primary-color);
               }
            }
         }
      }
      &-link {
         font-size: rem(16);
         font-weight: 500;

         position: relative;

         display: block;

         padding: rem(10) 0;

         white-space: nowrap;

         color: $black-color;

@include xxl-block() {
            font-size: rem(14);
         }

         &:hover {
            color: $primary-color;
         }
      }
   }
   &__row {
      display: flex;

      padding: rem(23) 0;

@include to(450px) {
         padding: rem(17) 0;
      }  align-items: center;
      justify-content: space-between;
   }

   &__btn {
      @include to(450px) {
         display: none;
      }
   }

   &__notifications {
      position: relative;
      &:after {
         position: absolute;
         top: 3px;
         right: 3px;

         width: 6px;
         height: 6px;

         content: '';

         border-radius: 50%;
         background: $primary-color;

@include lg-block() {
            top: 0;
            right: 0;
         }
      }
   }

   &__search,
   &__notifications {
      display: flex;

      width: rem(36);
      height: rem(36);

@include lg-block() {
         width: 30px;
         height: 30px;
         margin-left: rem(20);
      } align-items: center;
      justify-content: center;

      svg {
         width: 22px;
         height: 22px;

         fill: $black-color3;
      }
      &:hover {
         svg {
            fill: $primary-color;
         }
      }
   }
   &__separator {
      display: block;

      width: 1px;
      height: rem(50);
      margin: 0 rem(10);

      background: $gray-color;

@include to(1440px) {
         margin: 0;
      }

@include lg-block() {
         display: none;
      }
   }
   &__contacts {
      margin: 0 rem(20) 0 rem(30);

      white-space: nowrap;

@include to(1440px) {
         display: none;
      }

@include lg-block() {
         display: none;
      }
   }
   &__signup {
      display: flex;

      height: rem(36);

      color: $black-color3;

@include lg-block() {
         margin-left: rem(30);
      }  align-items: center;

      span {
         @include to(1270px) {
            display: none;
         }
      }
      svg {
         width: rem(22);
         height: rem(22);
         margin-right: rem(15);

         fill: $black-color3;
         flex-shrink: 0;
      }

      &:hover {
         color: $primary-color;
         svg {
            fill: $primary-color;
         }
      }
   }
}
